// Core
@import "foundation/functions";
@import "settings";
@import "reset";
@import "breakpoints";
@import "mixins";

// Foundation
@import "foundation/components/grid";
@import "foundation/components/global";
@import "foundation/components/reveal";
@import "foundation/components/visibility";
@import "foundation/components/tooltips";

// Blocks
// @import "blocks/logo";
// @import "blocks/fonts";
// @import "blocks/menu";
// @import "blocks/buttons";
// @import "blocks/push-menu";
// @import "blocks/forms";
// @import "blocks/header";
// @import "blocks/type";
// @import "blocks/truncate";
// @import "blocks/tables";
// @import "blocks/panel";
// @import "blocks/well";
// @import "blocks/pattern";
// @import "blocks/poster";
// @import "blocks/card";
// @import "blocks/modal";
// @import "blocks/base";
// @import "blocks/hero";
// @import "blocks/caption";
// @import "blocks/index";

// Layout
@import "pages/body-basic";
@import "pages/body-fullwidth";

// Sections
@import "pages/section-docs";

// Pages
@import "pages/page-index";
@import "pages/page-docs-index";


// Vendor
@import "vendor/hamburgers";
@import "vendor/prism";

// Font
@import url(http://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,700|Roboto:400,700);
@import "fontawesome/font-awesome";

body {
   // @include display-breakpoint;
}

