.caption {
  background-color: #FFF;
  border-right: 20px solid $secondary-color;
  opacity: 0.8;
  padding: 20px;
  padding-right: 150px;
  width: 300px;
  color: #666;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}
