// ==========================================================================
// Header
// ==========================================================================
$header-height: 58px;

.header {
  background-color: #FFF;
  min-height: $header-height;
  width: 100%;
  border-bottom: 1px solid #CCC;
}
.header--fixed {
  z-index: 50;
  position: fixed;
  top: 0;
}

body.body-header-fixed {
  margin-top: $header-height;
}
