// ==========================================================================
// Push Menu
// ==========================================================================

// Push Menu Toggle Button
.pushmenu__toggle {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background: $primary-color;
  outline: none;
}

// Push Menu
.pushmenu {

}

.pushmenu.pushmenu-open {
  left: 0;
}

.pushmenu {
  background: $primary-color;
  font-family: $base-font;
  width: 540px;
  left: -540px;
  height: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
  padding-top: 50px;
  @media #{$medium-only} {
    width: 300px;
    left: -300px;
  }
  @media #{$small-only} {
    width: 100%;
    left: -100%;
  }
}
.pushmenu .pushmenu--menu {
  padding-left: 75px;
  margin: 0;
}
.pushmenu ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    font-size: 14px;
    font-family: $base-font;
    margin: 0;
    padding: 0;
    a {
      color: #FFF;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      margin: 0 0 2px 0;
      &:hover {
        text-decoration: underline;
      }
    }
    &.heading, h3 {
      color: darken($primary-color, 20%);
      font-size: 16px;
      font-family: $custom-font;
      margin: 8px 0 0 0;
    }
  }
}


.pushmenu-body {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.pushmenu-body.pushmenu-open {
  left: 240px;
}

/*Transition*/
.pushmenu, .pushmenu-body {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
