// ==========================================================================
// Typography
// ==========================================================================
$leading: $base-line-height;

// Paragraph
p {
	color: $base-font-color;
	font-family: $base-font;
	font-size: $base-font-size;
	line-height: $base-line-height;
	margin: 0;
	margin-bottom: 18px;
}


a {
	color: $primary-color;
	text-decoration: underline;
	&:hover {
		color: darken($primary-color, 20%);
	}
}

img {
  @include img-responsive();
}

// Headings
h1	{
	font-family: $custom-font;
	font-size: 56px;
	line-height: 66px;
	font-weight: 300;
	color: $base-font-color;
	margin-bottom: $leading;
}
h2	{
	font-family: $custom-font;
	font-size: 26px;
	line-height: 32px;
	font-weight: 500;
	color: $base-font-color;
	margin-bottom: $leading;
}
h3	{
	font-family: $custom-font;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	color: $base-font-color;
	margin-bottom: $leading;
}
h4	{
	font-family: $custom-font;
	font-size: 16px;
	font-weight: 700;
	color: $base-font-color;
	margin-bottom: $leading;
}
h5	{
	font-family: $custom-font;
	font-size: 12px;
	font-weight: 700;
	color: $base-font-color;
	margin-bottom: $leading;
}
h6	{
	font-family: $custom-font;
	font-size: 11px;
	font-weight: 700;
	color: $base-font-color;
	margin-bottom: $leading;
}

// List
ul	 				{ color: $base-font-color; margin: 10px 0 30px 0; list-style: disc; padding: 0 0 0 14px }
ol 					{ color: $base-font-color; margin: 0 0 20px 0; list-style: decimal; }
li 					{ color: $base-font-color; margin: 0 0 7px 0px; list-style-type: disc; padding: 0;}

// Emphasis
strong 				{ font-weight: bold; }
em 					{ font-style: italic; }

// Blockquote
blockquote, .blockquote {
	margin: 0 0 20px 0;
	padding: 14px;
	background: lighten($gray,55%);
	color: $primary-color;
	font-size: 18px;
	line-height: 1.5;
	font-weight: 200;
	font-style: normal;
	p {
		margin: 0;
		padding: 0;
		font-size: 18px;
		line-height: 24px;
		font-weight: 200;
		font-style: normal;
		em {
			font-style: normal;
		}
		&:first-of-type {
			font-size: inherit;
			line-height: inherit;
			font-weight: inherit;
		}
	}
}
p {
	code {
	  background: #F5F2F0;
	  font-weight: 500;
	  color: #666;
	  padding: 1px;
	  border-radius: 1px;
	}
}


pre {
  font-size: 13px;
  line-height: 16px;
}

// HR
hr, .hr	{
	border: 0;
	border-bottom: 1px solid #CCC;
	display: block;
}
.lead {
	margin-top: 50px;
}
// Hug a the block above you
.hug {
  margin-top: 0;
}

// Base Classes
.font-family-inherit { font-family: inherit; }
.font-size-inherit { font-size: inherit; }
.text-decoration-none { text-decoration: none; }

.bold    { font-weight: 700; }
.regular { font-weight: normal; }
.italic  { font-style: italic; }
.caps    { text-transform: uppercase; }

.left-align   { text-align: left; }
.center       { text-align: center; }
.right-align  { text-align: right; }
.justify      { text-align: justify; }

.nowrap { white-space: nowrap; }
.break-word { word-wrap: break-word; }

.list-style-none { list-style: none; }
.underline { text-decoration: underline; }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}
