@import url(http://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,700|Roboto:400,700);
* {
  box-sizing: border-box; }

/* CSS Mini Reset */
body {
  margin: 0;
  padding: 0; }

form, fieldset, legend, label {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  text-align: left;
  vertical-align: top; }

h1, h2, h3, h4, h5, h6, th, td, caption {
  font-weight: normal;
  margin: 0; }

img {
  border: 0; }

button {
  outline: none; }

button:focus {
  outline: none; }

.row {
  margin: 0 auto;
  max-width: 62.5rem;
  width: 100%; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse > .column,
  .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    margin: 0 -0.9375rem;
    max-width: none;
    width: auto; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      margin: 0;
      max-width: none;
      width: auto; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }

.column,
.columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left; }

.column + .column:last-child,
.columns + .column:last-child, .column +
.columns:last-child,
.columns +
.columns:last-child {
  float: right; }

.column + .column.end,
.columns + .column.end, .column +
.columns.end,
.columns +
.columns.end {
  float: left; }

@media only screen {
  .small-push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .small-pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .small-push-1 {
    position: relative;
    left: 8.3333333333%;
    right: auto; }
  .small-pull-1 {
    position: relative;
    right: 8.3333333333%;
    left: auto; }
  .small-push-2 {
    position: relative;
    left: 16.6666666667%;
    right: auto; }
  .small-pull-2 {
    position: relative;
    right: 16.6666666667%;
    left: auto; }
  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .small-push-4 {
    position: relative;
    left: 33.3333333333%;
    right: auto; }
  .small-pull-4 {
    position: relative;
    right: 33.3333333333%;
    left: auto; }
  .small-push-5 {
    position: relative;
    left: 41.6666666667%;
    right: auto; }
  .small-pull-5 {
    position: relative;
    right: 41.6666666667%;
    left: auto; }
  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .small-push-7 {
    position: relative;
    left: 58.3333333333%;
    right: auto; }
  .small-pull-7 {
    position: relative;
    right: 58.3333333333%;
    left: auto; }
  .small-push-8 {
    position: relative;
    left: 66.6666666667%;
    right: auto; }
  .small-pull-8 {
    position: relative;
    right: 66.6666666667%;
    left: auto; }
  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .small-push-10 {
    position: relative;
    left: 83.3333333333%;
    right: auto; }
  .small-pull-10 {
    position: relative;
    right: 83.3333333333%;
    left: auto; }
  .small-push-11 {
    position: relative;
    left: 91.6666666667%;
    right: auto; }
  .small-pull-11 {
    position: relative;
    right: 91.6666666667%;
    left: auto; }
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }
  .small-1 {
    width: 8.3333333333%; }
  .small-2 {
    width: 16.6666666667%; }
  .small-3 {
    width: 25%; }
  .small-4 {
    width: 33.3333333333%; }
  .small-5 {
    width: 41.6666666667%; }
  .small-6 {
    width: 50%; }
  .small-7 {
    width: 58.3333333333%; }
  .small-8 {
    width: 66.6666666667%; }
  .small-9 {
    width: 75%; }
  .small-10 {
    width: 83.3333333333%; }
  .small-11 {
    width: 91.6666666667%; }
  .small-12 {
    width: 100%; }
  .small-offset-0 {
    margin-left: 0 !important; }
  .small-offset-1 {
    margin-left: 8.3333333333% !important; }
  .small-offset-2 {
    margin-left: 16.6666666667% !important; }
  .small-offset-3 {
    margin-left: 25% !important; }
  .small-offset-4 {
    margin-left: 33.3333333333% !important; }
  .small-offset-5 {
    margin-left: 41.6666666667% !important; }
  .small-offset-6 {
    margin-left: 50% !important; }
  .small-offset-7 {
    margin-left: 58.3333333333% !important; }
  .small-offset-8 {
    margin-left: 66.6666666667% !important; }
  .small-offset-9 {
    margin-left: 75% !important; }
  .small-offset-10 {
    margin-left: 83.3333333333% !important; }
  .small-offset-11 {
    margin-left: 91.6666666667% !important; }
  .small-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }
  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.small-uncentered,
  .columns.small-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .column.small-centered:last-child,
  .columns.small-centered:last-child {
    float: none; }
  .column.small-uncentered:last-child,
  .columns.small-uncentered:last-child {
    float: left; }
  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right; }
  .row.small-collapse > .column,
  .row.small-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.small-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row.small-uncollapse > .column,
  .row.small-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; } }

@media only screen and (min-width: 768px) {
  .medium-push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .medium-pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .medium-push-1 {
    position: relative;
    left: 8.3333333333%;
    right: auto; }
  .medium-pull-1 {
    position: relative;
    right: 8.3333333333%;
    left: auto; }
  .medium-push-2 {
    position: relative;
    left: 16.6666666667%;
    right: auto; }
  .medium-pull-2 {
    position: relative;
    right: 16.6666666667%;
    left: auto; }
  .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .medium-push-4 {
    position: relative;
    left: 33.3333333333%;
    right: auto; }
  .medium-pull-4 {
    position: relative;
    right: 33.3333333333%;
    left: auto; }
  .medium-push-5 {
    position: relative;
    left: 41.6666666667%;
    right: auto; }
  .medium-pull-5 {
    position: relative;
    right: 41.6666666667%;
    left: auto; }
  .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .medium-push-7 {
    position: relative;
    left: 58.3333333333%;
    right: auto; }
  .medium-pull-7 {
    position: relative;
    right: 58.3333333333%;
    left: auto; }
  .medium-push-8 {
    position: relative;
    left: 66.6666666667%;
    right: auto; }
  .medium-pull-8 {
    position: relative;
    right: 66.6666666667%;
    left: auto; }
  .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .medium-push-10 {
    position: relative;
    left: 83.3333333333%;
    right: auto; }
  .medium-pull-10 {
    position: relative;
    right: 83.3333333333%;
    left: auto; }
  .medium-push-11 {
    position: relative;
    left: 91.6666666667%;
    right: auto; }
  .medium-pull-11 {
    position: relative;
    right: 91.6666666667%;
    left: auto; }
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }
  .medium-1 {
    width: 8.3333333333%; }
  .medium-2 {
    width: 16.6666666667%; }
  .medium-3 {
    width: 25%; }
  .medium-4 {
    width: 33.3333333333%; }
  .medium-5 {
    width: 41.6666666667%; }
  .medium-6 {
    width: 50%; }
  .medium-7 {
    width: 58.3333333333%; }
  .medium-8 {
    width: 66.6666666667%; }
  .medium-9 {
    width: 75%; }
  .medium-10 {
    width: 83.3333333333%; }
  .medium-11 {
    width: 91.6666666667%; }
  .medium-12 {
    width: 100%; }
  .medium-offset-0 {
    margin-left: 0 !important; }
  .medium-offset-1 {
    margin-left: 8.3333333333% !important; }
  .medium-offset-2 {
    margin-left: 16.6666666667% !important; }
  .medium-offset-3 {
    margin-left: 25% !important; }
  .medium-offset-4 {
    margin-left: 33.3333333333% !important; }
  .medium-offset-5 {
    margin-left: 41.6666666667% !important; }
  .medium-offset-6 {
    margin-left: 50% !important; }
  .medium-offset-7 {
    margin-left: 58.3333333333% !important; }
  .medium-offset-8 {
    margin-left: 66.6666666667% !important; }
  .medium-offset-9 {
    margin-left: 75% !important; }
  .medium-offset-10 {
    margin-left: 83.3333333333% !important; }
  .medium-offset-11 {
    margin-left: 91.6666666667% !important; }
  .medium-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }
  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.medium-uncentered,
  .columns.medium-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .column.medium-centered:last-child,
  .columns.medium-centered:last-child {
    float: none; }
  .column.medium-uncentered:last-child,
  .columns.medium-uncentered:last-child {
    float: left; }
  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right; }
  .row.medium-collapse > .column,
  .row.medium-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.medium-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row.medium-uncollapse > .column,
  .row.medium-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }
  .push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .push-1 {
    position: relative;
    left: 8.3333333333%;
    right: auto; }
  .pull-1 {
    position: relative;
    right: 8.3333333333%;
    left: auto; }
  .push-2 {
    position: relative;
    left: 16.6666666667%;
    right: auto; }
  .pull-2 {
    position: relative;
    right: 16.6666666667%;
    left: auto; }
  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .push-4 {
    position: relative;
    left: 33.3333333333%;
    right: auto; }
  .pull-4 {
    position: relative;
    right: 33.3333333333%;
    left: auto; }
  .push-5 {
    position: relative;
    left: 41.6666666667%;
    right: auto; }
  .pull-5 {
    position: relative;
    right: 41.6666666667%;
    left: auto; }
  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .push-7 {
    position: relative;
    left: 58.3333333333%;
    right: auto; }
  .pull-7 {
    position: relative;
    right: 58.3333333333%;
    left: auto; }
  .push-8 {
    position: relative;
    left: 66.6666666667%;
    right: auto; }
  .pull-8 {
    position: relative;
    right: 66.6666666667%;
    left: auto; }
  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .push-10 {
    position: relative;
    left: 83.3333333333%;
    right: auto; }
  .pull-10 {
    position: relative;
    right: 83.3333333333%;
    left: auto; }
  .push-11 {
    position: relative;
    left: 91.6666666667%;
    right: auto; }
  .pull-11 {
    position: relative;
    right: 91.6666666667%;
    left: auto; } }

@media only screen and (min-width: 1025px) {
  .large-push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .large-pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .large-push-1 {
    position: relative;
    left: 8.3333333333%;
    right: auto; }
  .large-pull-1 {
    position: relative;
    right: 8.3333333333%;
    left: auto; }
  .large-push-2 {
    position: relative;
    left: 16.6666666667%;
    right: auto; }
  .large-pull-2 {
    position: relative;
    right: 16.6666666667%;
    left: auto; }
  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .large-push-4 {
    position: relative;
    left: 33.3333333333%;
    right: auto; }
  .large-pull-4 {
    position: relative;
    right: 33.3333333333%;
    left: auto; }
  .large-push-5 {
    position: relative;
    left: 41.6666666667%;
    right: auto; }
  .large-pull-5 {
    position: relative;
    right: 41.6666666667%;
    left: auto; }
  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .large-push-7 {
    position: relative;
    left: 58.3333333333%;
    right: auto; }
  .large-pull-7 {
    position: relative;
    right: 58.3333333333%;
    left: auto; }
  .large-push-8 {
    position: relative;
    left: 66.6666666667%;
    right: auto; }
  .large-pull-8 {
    position: relative;
    right: 66.6666666667%;
    left: auto; }
  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .large-push-10 {
    position: relative;
    left: 83.3333333333%;
    right: auto; }
  .large-pull-10 {
    position: relative;
    right: 83.3333333333%;
    left: auto; }
  .large-push-11 {
    position: relative;
    left: 91.6666666667%;
    right: auto; }
  .large-pull-11 {
    position: relative;
    right: 91.6666666667%;
    left: auto; }
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }
  .large-1 {
    width: 8.3333333333%; }
  .large-2 {
    width: 16.6666666667%; }
  .large-3 {
    width: 25%; }
  .large-4 {
    width: 33.3333333333%; }
  .large-5 {
    width: 41.6666666667%; }
  .large-6 {
    width: 50%; }
  .large-7 {
    width: 58.3333333333%; }
  .large-8 {
    width: 66.6666666667%; }
  .large-9 {
    width: 75%; }
  .large-10 {
    width: 83.3333333333%; }
  .large-11 {
    width: 91.6666666667%; }
  .large-12 {
    width: 100%; }
  .large-offset-0 {
    margin-left: 0 !important; }
  .large-offset-1 {
    margin-left: 8.3333333333% !important; }
  .large-offset-2 {
    margin-left: 16.6666666667% !important; }
  .large-offset-3 {
    margin-left: 25% !important; }
  .large-offset-4 {
    margin-left: 33.3333333333% !important; }
  .large-offset-5 {
    margin-left: 41.6666666667% !important; }
  .large-offset-6 {
    margin-left: 50% !important; }
  .large-offset-7 {
    margin-left: 58.3333333333% !important; }
  .large-offset-8 {
    margin-left: 66.6666666667% !important; }
  .large-offset-9 {
    margin-left: 75% !important; }
  .large-offset-10 {
    margin-left: 83.3333333333% !important; }
  .large-offset-11 {
    margin-left: 91.6666666667% !important; }
  .large-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }
  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.large-uncentered,
  .columns.large-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .column.large-centered:last-child,
  .columns.large-centered:last-child {
    float: none; }
  .column.large-uncentered:last-child,
  .columns.large-uncentered:last-child {
    float: left; }
  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right; }
  .row.large-collapse > .column,
  .row.large-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.large-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row.large-uncollapse > .column,
  .row.large-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }
  .push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .push-1 {
    position: relative;
    left: 8.3333333333%;
    right: auto; }
  .pull-1 {
    position: relative;
    right: 8.3333333333%;
    left: auto; }
  .push-2 {
    position: relative;
    left: 16.6666666667%;
    right: auto; }
  .pull-2 {
    position: relative;
    right: 16.6666666667%;
    left: auto; }
  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .push-4 {
    position: relative;
    left: 33.3333333333%;
    right: auto; }
  .pull-4 {
    position: relative;
    right: 33.3333333333%;
    left: auto; }
  .push-5 {
    position: relative;
    left: 41.6666666667%;
    right: auto; }
  .pull-5 {
    position: relative;
    right: 41.6666666667%;
    left: auto; }
  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .push-7 {
    position: relative;
    left: 58.3333333333%;
    right: auto; }
  .pull-7 {
    position: relative;
    right: 58.3333333333%;
    left: auto; }
  .push-8 {
    position: relative;
    left: 66.6666666667%;
    right: auto; }
  .pull-8 {
    position: relative;
    right: 66.6666666667%;
    left: auto; }
  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .push-10 {
    position: relative;
    left: 83.3333333333%;
    right: auto; }
  .pull-10 {
    position: relative;
    right: 83.3333333333%;
    left: auto; }
  .push-11 {
    position: relative;
    left: 91.6666666667%;
    right: auto; }
  .pull-11 {
    position: relative;
    right: 91.6666666667%;
    left: auto; } }

@media only screen and (min-width: 1441px) {
  .xlarge-push-0 {
    position: relative;
    left: 0;
    right: auto; }
  .xlarge-pull-0 {
    position: relative;
    right: 0;
    left: auto; }
  .xlarge-push-1 {
    position: relative;
    left: 8.3333333333%;
    right: auto; }
  .xlarge-pull-1 {
    position: relative;
    right: 8.3333333333%;
    left: auto; }
  .xlarge-push-2 {
    position: relative;
    left: 16.6666666667%;
    right: auto; }
  .xlarge-pull-2 {
    position: relative;
    right: 16.6666666667%;
    left: auto; }
  .xlarge-push-3 {
    position: relative;
    left: 25%;
    right: auto; }
  .xlarge-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }
  .xlarge-push-4 {
    position: relative;
    left: 33.3333333333%;
    right: auto; }
  .xlarge-pull-4 {
    position: relative;
    right: 33.3333333333%;
    left: auto; }
  .xlarge-push-5 {
    position: relative;
    left: 41.6666666667%;
    right: auto; }
  .xlarge-pull-5 {
    position: relative;
    right: 41.6666666667%;
    left: auto; }
  .xlarge-push-6 {
    position: relative;
    left: 50%;
    right: auto; }
  .xlarge-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }
  .xlarge-push-7 {
    position: relative;
    left: 58.3333333333%;
    right: auto; }
  .xlarge-pull-7 {
    position: relative;
    right: 58.3333333333%;
    left: auto; }
  .xlarge-push-8 {
    position: relative;
    left: 66.6666666667%;
    right: auto; }
  .xlarge-pull-8 {
    position: relative;
    right: 66.6666666667%;
    left: auto; }
  .xlarge-push-9 {
    position: relative;
    left: 75%;
    right: auto; }
  .xlarge-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }
  .xlarge-push-10 {
    position: relative;
    left: 83.3333333333%;
    right: auto; }
  .xlarge-pull-10 {
    position: relative;
    right: 83.3333333333%;
    left: auto; }
  .xlarge-push-11 {
    position: relative;
    left: 91.6666666667%;
    right: auto; }
  .xlarge-pull-11 {
    position: relative;
    right: 91.6666666667%;
    left: auto; }
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }
  .xlarge-1 {
    width: 8.3333333333%; }
  .xlarge-2 {
    width: 16.6666666667%; }
  .xlarge-3 {
    width: 25%; }
  .xlarge-4 {
    width: 33.3333333333%; }
  .xlarge-5 {
    width: 41.6666666667%; }
  .xlarge-6 {
    width: 50%; }
  .xlarge-7 {
    width: 58.3333333333%; }
  .xlarge-8 {
    width: 66.6666666667%; }
  .xlarge-9 {
    width: 75%; }
  .xlarge-10 {
    width: 83.3333333333%; }
  .xlarge-11 {
    width: 91.6666666667%; }
  .xlarge-12 {
    width: 100%; }
  .xlarge-offset-0 {
    margin-left: 0 !important; }
  .xlarge-offset-1 {
    margin-left: 8.3333333333% !important; }
  .xlarge-offset-2 {
    margin-left: 16.6666666667% !important; }
  .xlarge-offset-3 {
    margin-left: 25% !important; }
  .xlarge-offset-4 {
    margin-left: 33.3333333333% !important; }
  .xlarge-offset-5 {
    margin-left: 41.6666666667% !important; }
  .xlarge-offset-6 {
    margin-left: 50% !important; }
  .xlarge-offset-7 {
    margin-left: 58.3333333333% !important; }
  .xlarge-offset-8 {
    margin-left: 66.6666666667% !important; }
  .xlarge-offset-9 {
    margin-left: 75% !important; }
  .xlarge-offset-10 {
    margin-left: 83.3333333333% !important; }
  .xlarge-offset-11 {
    margin-left: 91.6666666667% !important; }
  .xlarge-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }
  .column.xlarge-centered,
  .columns.xlarge-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }
  .column.xlarge-uncentered,
  .columns.xlarge-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .column.xlarge-centered:last-child,
  .columns.xlarge-centered:last-child {
    float: none; }
  .column.xlarge-uncentered:last-child,
  .columns.xlarge-uncentered:last-child {
    float: left; }
  .column.xlarge-uncentered.opposite,
  .columns.xlarge-uncentered.opposite {
    float: right; }
  .row.xlarge-collapse > .column,
  .row.xlarge-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.xlarge-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row.xlarge-uncollapse > .column,
  .row.xlarge-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; } }

.logo__image {
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  float: left;
  margin: 10px 0 10px 0; }
  .logo__image img {
    display: none; }
  @media only screen and (min-width: 768px) {
    .logo__image {
      background-image: url("../images/logo.jpg");
      background-size: 30px 30px; } }
  @media only screen and (max-width: 767px) {
    .logo__image {
      background-image: url("../images/logo-mobile.jpg");
      background-size: 30px 30px; } }
  .logo__image a {
    padding-left: 40px;
    line-height: 30px;
    font-size: 22px;
    font-weight: 700;
    font-family: "Artifakt Legend", "Open Sans", "helvetica", "arial";
    text-decoration: none;
    color: #333;
    text-transform: uppercase; }

.logo__text {
  float: left;
  margin: 10px 0 10px 0; }
  .logo__text a {
    line-height: 36px;
    font-size: 22px;
    font-weight: 700;
    font-family: "Artifakt Legend", "Open Sans", "helvetica", "arial";
    text-decoration: none;
    color: #333;
    text-transform: uppercase; }

.hero {
  padding: 40px 0 40px 0;
  color: rgba(255, 255, 255, 0.75); }

/*
For pretty much everything else.
- Subheads
- Body copy
- Bulleted information
- Legal and caption copy
*/
@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Heavy Italic.woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Heavy.woff");
  font-weight: 900; }

@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Black Italic.woff");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Black.woff");
  font-weight: 800; }

@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Bold Italic.woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Bold.woff");
  font-weight: 700; }

@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Medium Italic.woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Medium.woff");
  font-weight: 600; }

@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Book Italic.woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Book.woff");
  font-weight: 500; }

@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Italic.woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Regular.woff");
  font-weight: 400; }

@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Light Italic.woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Light.woff");
  font-weight: 300; }

@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Thin Italic.woff");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Thin.woff");
  font-weight: 200; }

@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Hair Italic.woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Element";
  src: url("../../fonts/artifakt/element/WOFF/Artifakt Element Hair.woff");
  font-weight: 100; }

/*
When you need me to make a statement,
get noticed, or just generally show off.
- Headlines
- Product and event logotypes
*/
@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Heavy Italic.woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Heavy.woff");
  font-weight: 900; }

@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Black Italic.woff");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Black.woff");
  font-weight: 800; }

@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Bold Italic.woff");
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Bold.woff");
  font-weight: 700; }

@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Medium Italic.woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Medium.woff");
  font-weight: 600; }

@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Book Italic.woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Book.woff");
  font-weight: 500; }

@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Italic.woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Regular.woff");
  font-weight: 400; }

@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Light Italic.woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Light.woff");
  font-weight: 300; }

@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Thin Italic.woff");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Thin.woff");
  font-weight: 200; }

@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Hair Italic.woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: "Artifakt Legend";
  src: url("../../fonts/artifakt/legend/WOFF/Artifakt Legend Hair.woff");
  font-weight: 100; }

ul.menu {
  padding: 10px 0 10px 0;
  margin: 0;
  font-family: "Artifakt Element", "Open Sans", "helvetica", "arial";
  line-height: 30px;
  font-size: 14px;
  font-weight: 600;
  vertical-align: middle;
  border-bottom: none;
  z-index: 140;
  float: right;
  text-transform: uppercase; }
  ul.menu li {
    float: left;
    display: block;
    font-family: "Artifakt Element", "Open Sans", "helvetica", "arial";
    margin: 0;
    padding: 0; }
    ul.menu li:first-child a {
      padding-left: 0; }
    ul.menu li a {
      display: block;
      background: none;
      color: #e72433;
      text-decoration: none;
      padding: 0 10px 0 10px; }
      ul.menu li a:hover {
        color: #e72433;
        text-decoration: underline; }
      ul.menu li a.active {
        color: #e72433;
        text-decoration: underline; }
    ul.menu li span {
      padding: 10px 18px;
      display: block;
      background: none;
      color: #e72433;
      cursor: context-menu; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        ul.menu li span {
          padding: 2px 6px;
          font-size: 13px; } }
    ul.menu li.expanded ul {
      padding: 14px 7px;
      margin: 0; }
      ul.menu li.expanded ul li {
        text-transform: capitalize; }
        ul.menu li.expanded ul li a {
          margin: 0 0 7px 0;
          padding: 5px 10px;
          font-size: 14px;
          font-weight: 400;
          color: #ccc; }
          ul.menu li.expanded ul li a:hover {
            color: #fff; }
      ul.menu li.expanded ul ul li a {
        text-indent: 20px; }

.btn, input.form-submit {
  background: #333;
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 12px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-weight: 300;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-transition: background 0.15s linear 0s;
  -webkit-transition: background 0.15s linear 0s;
  -o-transition: background 0.15s linear 0s;
  transition: background 0.15s linear 0s; }
  .btn:hover, input.form-submit:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #1a1a1a;
    -moz-transition: background 0.15s linear 2s linear 0s;
    -webkit-transition: background 0.15s linear 2s linear 0s;
    -o-transition: background 0.15s linear 2s linear 0s;
    transition: background 0.15s linear 2s linear 0s; }

.btn-small {
  padding: 5px 10px;
  font-size: 11px; }

.btn-normal {
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 700; }

.btn-medium {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700; }

.btn-large {
  padding: 12px 22px;
  font-size: 16px;
  font-weight: 400; }

.btn-full {
  padding: 13px 24px;
  font-size: 14px;
  display: block; }

.btn-minimal {
  padding: 13px 24px;
  font-size: 14px;
  text-transform: uppercase;
  background: none;
  color: #e7e7e7;
  font-weight: 700; }

.btn-clear {
  background: none;
  border: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  height: auto;
  text-indent: 0;
  font-size: 12px;
  color: #e72433;
  vertical-align: baseline;
  cursor: pointer; }
  .btn-clear:hover {
    text-decoration: underline; }

.btn-primary {
  background-color: #e72433;
  color: #FFF; }
  .btn-primary:hover {
    background-color: #c31523;
    color: #FFF; }

.btn-secondary {
  background-color: #e7e7e7;
  color: #e72433; }
  .btn-secondary:hover {
    background-color: #cecece;
    color: #e72433; }

input.form-submit {
  margin-right: 10px;
  text-indent: 0; }

input.form-submit.disabled {
  cursor: default;
  color: #666;
  background-color: #EAEAEA; }

.pushmenu-toggle {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  background: #e72433;
  outline: none; }

.pushmenu {
  left: -540px; }

.pushmenu.pushmenu-open {
  left: 0; }

.pushmenu {
  background: #e72433;
  font-family: "Artifakt Element", "Open Sans", "helvetica", "arial";
  width: 540px;
  height: 100%;
  top: 0;
  z-index: 1000;
  position: fixed;
  padding-top: 200px; }

.pushmenu h3 {
  color: #cbbfad;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 20px;
  margin: 0;
  background: #282522;
  height: 16px; }

.pushmenu a {
  display: block;
  /* drops the nav vertically*/
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding: 14px;
  padding-left: 100px; }

.pushmenu a:hover {
  text-decoration: underline; }

.pushmenu a:active {
  font-weight: 900; }

.pushmenu-body {
  overflow-x: hidden;
  position: relative;
  left: 0; }

.pushmenu-body.pushmenu-open {
  left: 240px; }

/*Transition*/
.pushmenu, .pushmenu-body {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

form {
  margin: 0 0 0 0; }

.form-item {
  margin: 0 0 10px;
  padding: 0;
  position: relative; }

fieldset {
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  color: #333;
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
  width: 100%; }

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 6px;
  padding-top: 6px; }

.webform-container-inline label {
  min-width: 60px;
  display: inline-block;
  padding-top: 0px;
  margin-bottom: 8px; }

input,
textarea,
select {
  color: #484848;
  display: inline-block;
  padding: 5px;
  text-indent: 10px;
  margin: 0;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 38px;
  font-size: 100%;
  vertical-align: middle;
  line-height: normal;
  *overflow: visible;
  -moz-transition: border linear 0.2s box-shadow linear 0.2s linear 0s;
  -webkit-transition: border linear 0.2s box-shadow linear 0.2s linear 0s;
  -o-transition: border linear 0.2s box-shadow linear 0.2s linear 0s;
  transition: border linear 0.2s box-shadow linear 0.2s linear 0s; }

textarea {
  min-height: 140px; }

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0 \9;
  /* IE9 and down */ }

input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: #FFFFFF;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

select,
input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
  line-height: 28px; }

input[type="file"] {
  line-height: 18px \9; }

select {
  background-color: #FFFFFF; }
  @media only screen and (max-width: 767px) {
    select {
      width: auto; } }

select[multiple],
select[size] {
  height: auto; }

input[type="image"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

textarea {
  height: auto; }

input[type="hidden"] {
  display: none; }

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.webform-component-date select {
  width: 80px; }

.radio,
.checkbox {
  padding-left: 18px; }

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px; }

input.form-checkbox, input.form-radio {
  vertical-align: baseline; }

.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px; }

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle; }

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px; }

input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */ }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.header {
  background-color: #FFF;
  min-height: 59px;
  width: 100%;
  border-bottom: 1px solid #CCC; }

.header--fixed {
  z-index: 50;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 767px) {
    .header--fixed {
      position: relative;
      top: 0; } }

body.header--fixed {
  margin-top: 50px; }

/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  font-family: "Artifakt Element", "Open Sans", "helvetica", "arial";
  font-size: 100%;
  color: #333;
  -webkit-font-smoothing: antialiased; }

/* Copy & Lists */
p {
  font-family: "Artifakt Element", "Open Sans", "helvetica", "arial";
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0; }

ul, ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  ul li, ol li {
    line-height: 1.5rem; }
  ul ul, ul ol, ol ul, ol ol {
    margin-top: 0;
    margin-bottom: 0; }

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  /* Change heading typefaces here */
  font-family: "Artifakt Legend", "Open Sans", "helvetica", "arial";
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem; }

h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem; }

h2 {
  font-size: 2.828rem;
  line-height: 3.75rem;
  margin-top: 3rem; }

h3 {
  font-size: 1.414rem; }

h4 {
  font-size: 0.707rem;
  font-weight: 900; }

h5 {
  font-size: 0.4713333333rem; }

h6 {
  font-size: 0.3535rem; }

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse; }
  table td, table th {
    padding: 0;
    line-height: 24px; }

/* Leading paragraph text */
.lead {
  font-size: 1.414rem; }

/* Hug a the block above you */
.hug {
  margin-top: 0; }

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

.table {
  width: 100%;
  margin-bottom: 14px; }
  .table thead {
    background: #e72433;
    color: #e7e7e7;
    font-weight: 700; }
  .table th,
  .table td {
    padding: 5px;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd; }
  .table th {
    font-weight: bold; }
  .table thead th {
    vertical-align: bottom; }
  .table thead:first-child tr th,
  .table thead:first-child tr td {
    border-top: 0; }
  .table tbody + tbody {
    border-top: 2px solid #ddd; }

.table-white {
  width: 100%;
  margin-bottom: 14px; }
  .table-white th,
  .table-white td {
    padding: 8px;
    line-height: 24px;
    text-align: left;
    vertical-align: top;
    border-top: 2px solid #FFF; }
  .table-white th {
    font-weight: bold; }
  .table-white thead th {
    vertical-align: bottom; }
  .table-white thead:first-child tr th,
  .table-white thead:first-child tr td {
    border-top: 0; }
  .table-white tbody + tbody {
    border-top: 2px solid #FFF; }

.table-condensed th,
.table-condensed td {
  padding: 4px 5px; }

.table-square {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }

.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .table-bordered th + th,
  .table-bordered td + td,
  .table-bordered th + td,
  .table-bordered td + th {
    border-left: 1px solid #ddd; }
  .table-bordered thead:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child th,
  .table-bordered tbody:first-child tr:first-child td {
    border-top: 0; }
  .table-bordered thead:first-child tr:first-child th:first-child,
  .table-bordered tbody:first-child tr:first-child td:first-child {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0; }
  .table-bordered thead:first-child tr:first-child th:last-child,
  .table-bordered tbody:first-child tr:first-child td:last-child {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0; }
  .table-bordered thead:last-child tr:last-child th:first-child,
  .table-bordered tbody:last-child tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px; }
  .table-bordered thead:last-child tr:last-child th:last-child,
  .table-bordered tbody:last-child tr:last-child td:last-child {
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0; }

.table-bordered-white {
  border: 1px solid #FFF;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .table-bordered-white th + th,
  .table-bordered-white td + td,
  .table-bordered-white th + td,
  .table-bordered-white td + th {
    border-left: 2px solid #FFF; }
  .table-bordered-white thead:first-child tr:first-child th,
  .table-bordered-white tbody:first-child tr:first-child th,
  .table-bordered-white tbody:first-child tr:first-child td {
    border-top: 0; }
  .table-bordered-white thead:first-child tr:first-child th:first-child,
  .table-bordered-white tbody:first-child tr:first-child td:first-child {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0; }
  .table-bordered-white thead:first-child tr:first-child th:last-child,
  .table-bordered-white tbody:first-child tr:first-child td:last-child {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0; }
  .table-bordered-white thead:last-child tr:last-child th:first-child,
  .table-bordered-white tbody:last-child tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px; }
  .table-bordered-white thead:last-child tr:last-child th:last-child,
  .table-bordered-white tbody:last-child tr:last-child td:last-child {
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0; }

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9; }

.well {
  min-height: 20px;
  padding: 12px;
  margin-bottom: 20px;
  background-color: #EAEAEA;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #e7e7e7; }
  .well blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, 0.15); }
  .well.well-primary {
    background: #e72433; }

.well-large {
  padding: 24px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.well-small {
  padding: 9px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.row.display {
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important; }

.row.display .columns:nth-child(2), .row.display .columns.small-centered, .row.display .columns.large-centered {
  background: #e1e1e1; }

.row.display .columns.color-end {
  background: #d4d4d4; }

.row.display-end {
  background: #fff;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important; }

.row.display-end .columns {
  background: #e1e1e1;
  border-left: 1px solid #c6c6c6; }

.row.display-end .columns.color-end {
  background: #d4d4d4; }

.pattern code {
  background: none;
  border: none;
  background-color: none;
  border-color: none;
  padding: 0; }

.pattern pre {
  font-size: 13px;
  line-height: 16px; }

.pattern__header {
  background: #FAFAFA;
  padding: 10px 0 10px 0;
  box-shadow: 1px 1px 6px #CCC; }

.pattern__logo {
  width: 120px; }

.pattern__logo-text {
  color: #666;
  line-height: 32px;
  font-weight: 500;
  text-transform: uppercase; }

.pattern__middle {
  padding: 40px 0 40px 0; }

.pattern__sidebar {
  background: #FAFAFA;
  padding: 32px 20px; }

.pattern h4 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.4;
  color: #222222;
  font-style: normal;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  text-rendering: optimizeLegibility; }

.tier--dropdown li {
  font-size: 12px !important;
  padding: 5px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .tier--dropdown li a {
    display: inline-block !important; }

.tier li {
  font-size: 13px; }

body:after {
  background: black;
  color: #FFFFFF;
  opacity: 0.8;
  padding: .5em 1em;
  position: fixed;
  text-align: center;
  bottom: 0;
  right: 0;
  z-index: 999; }
  @media only screen {
    body:after {
      background: orange;
      content: "small-up"; } }
  @media only screen and (max-width: 767px) {
    body:after {
      background: orange;
      content: "small - 0px, 767px"; } }
  @media only screen and (min-width: 768px) {
    body:after {
      background: red;
      content: "medium-up"; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    body:after {
      background: red;
      content: "medium - 768px, 1024px)"; } }
  @media only screen and (min-width: 1025px) {
    body:after {
      background: green;
      content: "large-up"; } }
  @media only screen and (min-width: 1025px) and (max-width: 1440px) {
    body:after {
      background: green;
      content: "large - 1025px, 1440px"; } }
  @media only screen and (min-width: 1441px) {
    body:after {
      background: blue;
      content: "xlarge-up"; } }
  @media only screen and (min-width: 1441px) and (max-width: 5000px) {
    body:after {
      background: blue;
      content: "xlarge - 1441px, 5000px"; } }
