<h1>Buttons</h1>

<h3>Button Defaults</h3>
<a href="#" class="button">Button</a>
<a href="#" class="button secondary">Button Secondary</a>
<a href="#" class="button cancel">Button Cancel</a>

<pre><code class="language-markup">&lt;a href="#" class="button"&gt;Button&lt;/a&gt;
&lt;a href="#" class="button secondary"&gt;Button Secondary&lt;/a&gt;
&lt;a href="#" class="button cancel"&gt;Button Secondary&lt;/a&gt;
</code></pre>

<h3>Button Icons</h3>
<a href="#" class="button arrow">Button Arrow</a>
<a href="#" class="button external">Button External</a>
<a href="#" class="button back">Button Back</a>


<pre><code class="language-markup">&lt;a href="#" class="button arrow"&gt;Button Arrow&lt;/a&gt;
&lt;a href="#" class="button external"&gt;Button External&lt;/a&gt;
&lt;a href="#" class="button back"&gt;Button Back&lt;/a&gt;
</code></pre>


<h3>Button Sizes</h3>
<a href="#" class="button small">Small Button</a>
<a href="#" class="button">Default Button</a>
<a href="#" class="button medium">Medium Button</a>
<a href="#" class="button large">Large Button</a>
<a href="#" class="button full">Full Button</a>

<pre><code class="language-markup">&lt;a href="#" class="button small"&gt;Button Small&lt;/a&gt;
&lt;a href="#" class="button"&gt;Button&lt;/a&gt;
&lt;a href="#" class="button medium"&gt;Button Medium&lt;/a&gt;
&lt;a href="#" class="button large"&gt;Button Large&lt;/a&gt;
&lt;a href="#" class="button full"&gt;Button Full&lt;/a&gt;
</code></pre>



<h3>Button Float</h3>
<a href="#" class="button full-on-mobile">Button Full On Mobile</a>
<br class="clear">
<a href="#" class="button left">Button Float Left</a>
<a href="#" class="button right">Button Float Right</a>
<br class="clear">
<a href="#" class="button right full-on-mobile">Button Float Right, Full On Mobile</a>
<br class="clear">

<pre><code class="language-markup">&lt;a href="#" class="button full-on-mobile"&gt;Button Full On Mobile&lt;/a&gt;
&lt;a href="#" class="button left"&gt;Button Float Left&lt;/a&gt;
&lt;a href="#" class="button right"&gt;Button Float Right&lt;/a&gt;
&lt;a href="#" class="button right full-on-mobile"&gt;Button Float Right, Full On Mobile&lt;/a&gt;
</code></pre>


<h3>Button Margin</h3>
<a href="#" class="button no-margin">Button No Margin</a>
<a href="#" class="button no-margin-bottom">Button No Margin Bottom</a>

<pre><code class="language-markup">&lt;a href="#" class="button no-margin"&gt;Button No Margin&lt;/a&gt;
&lt;a href="#" class="button no-margin-bottom"&gt;Button No Margin Bottom&lt;/a&gt;
</code></pre>
