<h1>Cards</h1>
s

<h4 class="sg">HTML</h4>
<div class="row cards" id="articles">

    <div class="cards-header small-12 column">
        <h2 class="title">Articles<span> (<a href="/profile/H0IVG0XZC26PJ/articles">8</a>)</span></h2>
    </div>

    <div class="card card-simplecontent small-12 small-medium-4 medium-3 large-3 columns end">
        <div class="card-inner">
            <div class="header">
                <h3><a href="https://knowledge-local.autodesk.com/support/3ds-max/getting-started/caas/simplecontent/content/kimaya-1.html">kimaya-1</a></h3>
            </div>
            <div class="dateline">
                <h5>Mar 25 2016</h5>
            </div>
            <div class="copy-small">
                <p>n scfm nxcmxdsvdsgfdsgdsffgsd...</p>
            </div>
            <div class="media">
                <img src="//akn-aknsite-article-thumbnails.s3.amazonaws.com/e57d85ad-8195-404e-bfe3-ad3a8db47ff7.jpg">
            </div>
            <div class="footer">
                <p>3ds Max 2015 | Article</p>
            </div>
        </div>
    </div>

    <div class="card card-simplecontent small-12 small-medium-4 medium-3 large-3 columns end">
        <div class="card-inner">
            <div class="header">
                <h3><a href="https://knowledge-local.autodesk.com/support/3ds-max/getting-started/caas/simplecontent/content/neuen-artikel-hinzuf-C3-BCgen-0.html">NEUEN ARTIKEL HINZUFÜGEN (editing it for the following test ...</a></h3>
            </div>
            <div class="dateline"><h5>Mar 24 2016</h5></div>
            <div class="copy-large">
                <p>NEUEN ARTIKEL HINZUFÜGENNEUEN ARTIKEL HINZUFÜGENNEUEN ARTIKEL HINZUFÜGENNEUEN ARTIKEL HINZUFÜGENNEUEN ARTIKEL HINZUFÜGENNEUEN ARTIKEL...</p>
            </div>
            <div class="footer">
                <p>Article</p>
            </div>
        </div>
    </div>

    <div class="card card-simplecontent small-12 small-medium-4 medium-3 large-3 columns end">
        <div class="card-inner">
            <div class="header">
                <h3><a href="https://knowledge-local.autodesk.com/support/maya/getting-started/caas/simplecontent/content/creating-draft-article-to-test-4634.html">creating an draft article  to test 4634</a></h3>
            </div>
            <div class="dateline"><h5>Mar 22 2016</h5></div>
            <div class="copy-small">
                <p>Test Case 6 : Changing Draft Article (with attachment) to Published article and removing an attachment Steps : User clicks on write an article under...</p>
            </div>
            <div class="media">
                <img src="//akn-aknsite-article-thumbnails.s3.amazonaws.com/37a21e24-fa59-4459-85cc-d1018a403640.jpg">
            </div>
            <div class="footer">
                <p>Maya 2016 | Article</p>
            </div>
        </div>
    </div>

    <div class="card card-simplecontent small-12 small-medium-4 medium-3 large-3 columns end">
        <div class="card-inner">
            <div class="header">
                <h3><a href="https://knowledge-local.autodesk.com/de/support/3ds-max/getting-started/caas/simplecontent/content/neuen-artikel-hinzuf-C3-BCgen.html">NEUEN ARTIKEL HINZUFÜGENl</a></h3>
            </div>
            <div class="dateline"><h5>Mar 18 2016</h5></div>
            <div class="copy-small">
                <p>NEUEN ARTIKEL HINZUFÜGENNEUEN ARTIKEL HINZUFÜGENNEUEN ARTIKEL HINZUFÜGENNEUEN ARTIKEL HINZUFÜGENNEUEN ARTIKEL HINZUFÜGENNEUEN ARTIKEL HINZUFÜGEN...</p>
            </div>
            <div class="media">
                <img src="//akn-aknsite-article-thumbnails.s3.amazonaws.com/ce0d2018-e335-455e-a87a-9c5147d78cfe.jpg">
            </div>
            <div class="footer">
                <p>Article</p>
            </div>
        </div>
    </div>


    <div class="card card-simplecontent small-12 small-medium-4 medium-3 large-3 columns end">
        <div class="card-inner">
            <div class="header">
                <h3><a href="https://knowledge-local.autodesk.com/support/maya/getting-started/caas/simplecontent/content/creating-draft-article-to-test-4634.html">creating an draft article  to test 4634</a></h3>
            </div>
            <div class="dateline"><h5>Mar 22 2016</h5></div>
            <div class="copy-small">
                <p>Test Case 6 : Changing Draft Article (with attachment) to Published article and removing an attachment Steps : User clicks on write an article under...</p>
            </div>
            <div class="media">
                <img src="//akn-aknsite-article-thumbnails.s3.amazonaws.com/37a21e24-fa59-4459-85cc-d1018a403640.jpg">
            </div>
            <div class="footer">
                <p>Maya 2016 | Article</p>
            </div>
        </div>
    </div>

    <div class="card card-simplecontent small-12 small-medium-4 medium-3 large-3 columns end">
        <div class="card-inner">
            <div class="header">
                <h3><a href="https://knowledge-local.autodesk.com/de/support/3ds-max/getting-started/caas/simplecontent/content/neuen-artikel-hinzuf-C3-BCgen.html">NEUEN ARTIKEL HINZUFÜGENl</a></h3>
            </div>
            <div class="dateline"><h5>Mar 18 2016</h5></div>
            <div class="copy-small">
                <p>NEUEN ARTIKEL HINZUFÜGENNEUEN ARTIKEL HINZUFÜGENNEUEN ARTIKEL HINZUFÜGENNEUEN ARTIKEL HINZUFÜGENNEUEN ARTIKEL HINZUFÜGENNEUEN ARTIKEL HINZUFÜGEN...</p>
            </div>
            <div class="media">
                <img src="//akn-aknsite-article-thumbnails.s3.amazonaws.com/ce0d2018-e335-455e-a87a-9c5147d78cfe.jpg">
            </div>
            <div class="footer">
                <p>Article</p>
            </div>
        </div>
    </div>

    <div class="cards-footer">
        <div class="column">
            <a class="see-all" href="/profile/H0IVG0XZC26PJ/articles">See all my articles</a>
        </div>
    </div>

</div>

<h4 class="sg">RENDERED HTML</h4>
<pre><code class="language-html">&lt;div class="row cards" id="articles">
    &lt;div class="cards-header small-12 column">
        &lt;h2 class="title">Articles&lt;span> (&lt;a href="/profile/H0IVG0XZC26PJ/articles">8&lt;/a>)&lt;/span>&lt;/h2>
    &lt;/div>

    &lt;div class="card card-simplecontent small-12 small-medium-4 medium-3 large-3 columns end">
        &lt;div class="card-inner">
            &lt;div class="header">
                &lt;h3>&lt;a href="https://knowledge-local.autodesk.com/support/3ds-max/getting-started/caas/simplecontent/content/kimaya-1.html">kimaya-1&lt;/a>&lt;/h3>
            &lt;/div>
            &lt;div class="dateline">
                &lt;h5>Mar 25 2016&lt;/h5>
            &lt;/div>
            &lt;div class="copy-small">
                &lt;p>n scfm nxcmxdsvdsgfdsgdsffgsd...&lt;/p>
            &lt;/div>
            &lt;div class="media">
                &lt;img src="//akn-aknsite-article-thumbnails.s3.amazonaws.com/e57d85ad-8195-404e-bfe3-ad3a8db47ff7.jpg">
            &lt;/div>
            &lt;div class="footer">
                &lt;p>3ds Max 2015 | Article&lt;/p>
            &lt;/div>
        &lt;/div>
    &lt;/div>

    &lt;div class="cards-footer">
        &lt;div class="column">
            &lt;a class="see-all" href="/profile/H0IVG0XZC26PJ/articles">See all my articles&lt;/a>
        &lt;/div>
    &lt;/div>
&lt;/div></pre></code>

