<h1>Enquire</h1>
<h2>Media queries in Javascript.</h2>
<h3>matchMedia</h3>
<p>Native javascript media query matching</p>
<pre><code class="language-js">if (window.matchMedia("(min-width: 400px)").matches) {
/* the viewport is at least 400 pixels wide */
}</code></pre>

<h3>Enquire JS</h3>
<p>Register a breakpoint with enquire and perform actions based on event emitters. For more information see the <a href="http://wicky.nillia.ms/enquire.js/">enquire.js documentation</a></p>
<pre><code class="language-js">enquire.register("screen and (max-width: 767px)", {
    // OPTIONAL
    // If supplied, triggered when a media query matches.
    match : function() {
        console.log("found!");
    },
    // OPTIONAL
    // If supplied, triggered when the media query transitions
    // *from a matched state to an unmatched state*.
    unmatch : function() {},
    // OPTIONAL
    // If supplied, triggered once, when the handler is registered.
    setup : function() {},
    // OPTIONAL, defaults to false
    // If set to true, defers execution of the setup function
    // until the first time the media query is matched
    deferSetup : true,
    // OPTIONAL
    // If supplied, triggered when handler is unregistered.
    // Place cleanup code here
    destroy : function() {}
});
</code></pre>

