<h1>Forms</h1>
s
<form>
    <label>Input Label
        <input type="text" placeholder="enter text"/>
    </label>

    <label>Select Box
        <select>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            <option value="option4">Option 4</option>
        </select>
    </label>

    <label>Radio Fields</label>
    <input type="radio" name="radio1" value="radio1"><label for="radio1">Radio 1</label>
    <input type="radio" name="radio2" value="radio2"><label for="radio2">Radio 2</label>

    <label>Checkbox Fields</label>
    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
    <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>

    <label>Textarea Label
        <textarea></textarea>
    </label>
</form>
