
<h1>Grid</h1>
<h2>Create powerful multi-device layouts quickly and easily with the default 12-column, nest-able Foundation grid. </h2>
<p>Start by adding an element with a class of <code>row</code>. This will create a horizontal block to contain vertical columns.Then add divs with a <code>column</code> class within that row. You can use <code>column</code> or <code>columns</code> - the only difference is grammar.Specify the widths of each column with the <code>small-#</code>, <code>small-medium-#</code>, <code>medium-#</code>, and <code>large-#</code> classes.</p>
<h4 class="docs__html">HTML</h4>

<pre><code class="language-html">&lt;div class="row"&gt;
    &lt;div class="small-2 large-4 columns"&gt;...&lt;/div&gt;
    &lt;div class="small-4 large-4 columns"&gt;...&lt;/div&gt;
    &lt;div class="small-6 large-4 columns"&gt;...&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
    &lt;div class="large-3 columns"&gt;...&lt;/div&gt;
    &lt;div class="large-6 columns"&gt;...&lt;/div&gt;
    &lt;div class="large-3 columns"&gt;...&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
    &lt;div class="small-6 large-2 columns"&gt;...&lt;/div&gt;
    &lt;div class="small-6 large-8 columns"&gt;...&lt;/div&gt;
    &lt;div class="small-12 large-2 columns"&gt;...&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
    &lt;div class="small-3 columns"&gt;...&lt;/div&gt;
    &lt;div class="small-9 columns"&gt;...&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
    &lt;div class="large-4 columns"&gt;...&lt;/div&gt;
    &lt;div class="large-8 columns"&gt;...&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
    &lt;div class="small-6 large-5 columns"&gt;...&lt;/div&gt;
    &lt;div class="small-6 large-7 columns"&gt;...&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
    &lt;div class="large-6 columns"&gt;...&lt;/div&gt;
    &lt;div class="large-6 columns"&gt;...&lt;/div&gt;
&lt;/div&gt;</code></pre>



<h4 class="docs__html">Rendered HTML</h4>

<div class="row display">
    <div class="small-2 large-4 columns"><span class="hide-for-large-up">2</span><span class="show-for-large-up">4</span></div>
    <div class="small-4 large-4 columns">4</div>
    <div class="small-6 large-4 columns"><span class="hide-for-large-up">6</span><span class="show-for-large-up">4</span></div>
</div>
<div class="row display">
    <div class="large-3 columns"><span class="hide-for-large-up">full</span><span class="show-for-large-up">3</span></div>
    <div class="large-6 columns"><span class="hide-for-large-up">full</span><span class="show-for-large-up">6</span></div>
    <div class="large-3 columns"><span class="hide-for-large-up">full</span><span class="show-for-large-up">3</span></div>
</div>
<div class="row display">
    <div class="small-6 large-2 columns"><span class="hide-for-large-up">6</span><span class="show-for-large-up">2</span></div>
    <div class="small-6 large-8 columns"><span class="hide-for-large-up">6</span><span class="show-for-large-up">8</span></div>
    <div class="small-12 large-2 columns"><span class="hide-for-large-up">full</span><span class="show-for-large-up">2</span></div>
</div>
<div class="row display">
    <div class="small-3 columns">3</div>
    <div class="small-9 columns">9</div>
</div>
<div class="row display">
    <div class="large-4 columns"><span class="hide-for-large-up">full</span><span class="show-for-large-up">4</span></div>
    <div class="large-8 columns"><span class="hide-for-large-up">full</span><span class="show-for-large-up">8</span></div>
</div>
<div class="row display">
    <div class="small-6 large-5 columns"><span class="hide-for-large-up">6</span><span class="show-for-large-up">5</span></div>
    <div class="small-6 large-7 columns"><span class="hide-for-large-up">6</span><span class="show-for-large-up">7</span></div>
</div>
<div class="row display">
    <div class="large-6 columns"><span class="hide-for-large-up">full</span><span class="show-for-large-up">6</span></div>
    <div class="large-6 columns"><span class="hide-for-large-up">full</span><span class="show-for-large-up">6</span></div>
</div>

<h3>Nesting</h3>
<p>You can nest the grids indefinitely, though at a certain point it will get absurd.</p>
<h4 class="docs__html">HTML</h4>

<pre><code class="language-html">&lt;div class="row">
    &lt;div class="small-8 columns">8
        &lt;div class="row">
            &lt;div class="small-8 columns">8 Nested
                &lt;div class="row">
                    &lt;div class="small-8 columns">8 Nested Again&lt;/div>
                    &lt;div class="small-4 columns">4&lt;/div>
                &lt;/div>
            &lt;/div>
            &lt;div class="small-4 columns">4&lt;/div>
        &lt;/div>
    &lt;/div>
    &lt;div class="small-4 columns">4&lt;/div>
&lt;/div></code></pre>


<h4 class="docs__html">Rendered HTML</h4>

<div class="row display">
    <div class="small-8 columns">8
        <div class="row">
            <div class="small-8 columns">8 Nested
                <div class="row">
                    <div class="small-8 columns">8 Nested Again</div>
                    <div class="small-4 columns">4</div>
                </div>
            </div>
            <div class="small-4 columns">4</div>
        </div>
    </div>
    <div class="small-4 columns">4</div>
</div>


<h3 id="incomplete-rows">Incomplete Rows</h3>
<p>In order to work around browsers' different rounding behaviors, Foundation will float the last column in a row to the right so the edge aligns. If your row doesn't have a count that adds up to 12 columns, you can tag the last column with a class of <code>end</code> in order to override that behavior.</p>
<h4 class="docs__html">HTML</h4>

<pre><code class="language-html">&lt;div class="row">
    &lt;div class="medium-3 columns">3&lt;/div>
    &lt;div class="medium-3 columns">3&lt;/div>
    &lt;div class="medium-3 columns">3&lt;/div>
&lt;/div>
&lt;div class="row">
    &lt;div class="medium-3 columns">3&lt;/div>
    &lt;div class="medium-3 columns">3&lt;/div>
    &lt;div class="medium-3 columns end">3 end&lt;/div>
&lt;/div></code></pre>

<h4 class="docs__html">Rendered HTML</h4>

<div class="row display-end">
    <div class="medium-3 columns">3</div>
    <div class="medium-3 columns">3</div>
    <div class="medium-3 columns">3</div>
</div>
<div class="row display-end">
    <div class="medium-3 columns">3</div>
    <div class="medium-3 columns">3</div>
    <div class="medium-3 columns end">3 end</div>
</div>

<h2 id="customize-with-sass">Customize with Sass</h2>
<p>Customizing the grid is easy with the Sass variables provided in the <code>_settings.scss</code> file.</p>
<h4 class="docs__html">SCSS</h4>

<pre><code class="language-scss">$row-width: rem-calc(1000);
$column-gutter: rem-calc(30);
$total-columns: 12 ;</code></pre>

<h3>Basic</h3>

<p>You can use the <code>grid-row()</code> and <code>grid-column()</code> mixins to create your own rows and columns with semantic markup, like so:</p>
<div class="row">
    <div class="large-6 columns">
        <h4 class="docs__html">SCSS</h4>
<pre><code class="language-scss">.custom-row-class {
    @include grid-row();
    .custom-column-class {
        @include grid-column(12);
    }
}</code></pre>
    </div>
    <div class="large-6 columns">
        <h4 class="docs__html">HTML</h4>
<pre><code class="language-html">&lt;div class="your-row-class-name">
    &lt;div class="your-column-class-name">
        &lt;!-- Your content goes here -->
    &lt;/div>
&lt;/div></code></pre>
    </div>
</div>

<h3>Advanced</h3>
<p>You can further customize your grid columns using the provided options in the <code>grid-column()</code> mixin:</p>
<h4>Row Mixin Options</h4>
<h4 class="docs__html">SCSS</h4>

<pre><code class="language-scss">.your-class-name {
  @include grid-row($behavior: nest) // Other options include collapse and nest-collapse.
  // Default $behavior value is false
}</code></pre>

<h4>Column Mixin Options</h4>
<h4 class="docs__html">SCSS</h4>
<pre><code class="language-scss">.custom-grid-class {
    @include grid-column(
    // Control the number of columns
    $columns:4,
    // Specify whether or not this is the last column in the row
    $last-column:true,
    // Choose whether or not to center this column
    $center:true,
    // Choose the number of columns to offset this element by
    $offset:3,
    // Specify how many columns to push this element past
    $push:3,
    // Specify how many columns to pull this element past
    $pull:9,
    // Set to true to remove column padding
    $collapse:true,
    // Specify the float direction
    $float:right
  );
}</code></pre>
