<h1 id="grid">Grid</h1>
<h3 class="subheader">Create powerful multi-device layouts quickly and easily with the default 12-column, nest-able Foundation grid. </h3>
<hr>
<h3><%- title %></h3>
<p>Start by adding an element with a class of <code class=" language-en">row</code>. This will create a horizontal block to contain vertical columns.
Then add divs with a <code class=" language-en">column</code> class within that row. You can use <code class=" language-en">column</code> or <code class=" language-en">columns</code> - the only difference is grammar.
Specify the widths of each column with the <code class=" language-en">small-#</code>, <code class=" language-en">small-medium-#</code>, <code class=" language-en">medium-#</code>, and <code class=" language-en">large-#</code> classes.</p>
