<h1>Hero</h1>
s
<h2>Hero</h2>
<?php
//D7
$block = module_invoke('block', 'block_view', '71');
print render($block['content']);
?>

<pre><code class="language-markup">&lt;div class="hero" data-interchange="[/sites/all/themes/autodesk_foundation5/images/standard/support-hero-320.jpg, (small)],
                                [/sites/all/themes/autodesk_foundation5/images/standard/support-hero-768.jpg, (medium)],
                                [/sites/all/themes/autodesk_foundation5/images/standard/support-hero-1280.jpg, (large)],
                                [/sites/all/themes/autodesk_foundation5/images/standard/support-hero-2560.jpg, (xlarge)]"&gt;
    &lt;div class="row" data-equalizer=""&gt;
        &lt;div class="small-12 medium-7 large-5 columns"&gt;
            &lt;h1&gt;Support &amp; Learning&lt;/h1&gt;
            &lt;p&gt;Find tutorials, documentation, downloads, troubleshooting articles, and more&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>

s
<h2>Hero Product Overview</h2>
<div class="hero"><div class="field field-name-field-title-image field-type-image field-label-hidden field-wrapper field-wrapper"><img typeof="foaf:Image" src="https://knowledge-dev.autodesk.com/sites/default/files/3ds-max_0.png" width="613" height="91" alt=""></div></div>
