<section class="c-hero" data-stellar-background-ratio="0.5" style="background-position: 50% 0%;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-push-4 col-md-6 col-md-push-6">
      <h2 class="c-hero__headline" data-localize="features-page.hero.intro">A360 Features</h2>

      <p class="c-hero__description" data-localize="features-page.hero.description">A360 offers a complete set of features keeping your project at the center and connecting everyone in one workspace.</p>

      <a class="c-hero__cta c-btn c-btn--big" href="https://login.autodesk360.com/login/signup?edition=personal" target="_blank" data-localize="features-page.hero.cta">Sign Up for Free</a>
      </div>
    </div>
  </div>

  <div class="shade"></div>
</section>
