<h1>Images</h1>
<h3><%- title %></h3>
<% for(var i in public.images._contents){ %>
  <% var image = public.images._contents[i] %>
  <% if ( image.match(/\b.(jpg|bmp|jpeg|gif|png|tif)\b/gi) ) { %>
        <div>
            <img src="/images/<%= image %>" />
        </div>
  <% } %>
<% } %>
