<h1>Modal</h1>
<h2>Foundation includes Reveal our jQuery modal plugin.</h2>

<h2>Autodesk Modal</h2>
<h4 class="docs__html">HTML</h4>
<pre><code class="language-html">&lt;a href="#" class="button" data-reveal-id="myModal">Click Me For A Modal&lt;/a>
&lt;div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle2" aria-hidden="true" role="dialog">
  &lt;div class="reveal-modal__header">
    &lt;div class="reveal-modal__logo">&lt;/div>
    &lt;div class="reveal-modal__title">Modal Title&lt;/div>
    &lt;a class="close-reveal-modal reveal-modal__close--black" aria-label="Close">×&lt;/a>
  &lt;/div>
  &lt;div class="reveal-modal__body">
    &lt;h2>What type of download are you looking for?&lt;/h2>
    &lt;h4>Service Packs &amp; Fixes&lt;/h4>
    &lt;p>Find service packs, hotfixes, object enablers, language packs and other downloads to keep your product up-to-date&lt;/p>
    &lt;h4>Full Product Versions&lt;/h4>
    &lt;p>How to download the latest versions and previous versions of products and how to update your software&lt;/p>
  &lt;/div>
&lt;/div></code></pre>

<h4 class="docs__html">Rendered HTML</h4>
<a href="#" class="button" data-reveal-id="myModal">Autodesk Modal<i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle2" aria-hidden="true" role="dialog">
  <div class="reveal-modal__header">
    <div class="reveal-modal__logo"></div>
    <div class="reveal-modal__title">Modal Title</div>
    <a class="close-reveal-modal reveal-modal__close--black" aria-label="Close">×</a>
  </div>
  <div class="reveal-modal__body">
    <h2>What type of download are you looking for?</h2>
    <h4 class="docs__html">Service Packs &amp; Fixes</h4>
    <p>Find service packs, hotfixes, object enablers, language packs and other downloads to keep your product up-to-date</p>
    <h4 class="docs__html">Full Product Versions</h4>
    <p>How to download the latest versions and previous versions of products and how to update your software</p>
  </div>
</div>

<a href="#" class="button" data-reveal-id="myModal2">Modal With Long Content<i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
<div id="myModal2" class="reveal-modal reveal-modal--autodesk" data-reveal aria-labelledby="modalTitle2" aria-hidden="true" role="dialog">
  <div class="reveal-modal__header">
    <div class="reveal-modal__logo"></div>
    <div class="reveal-modal__title">Modal Title</div>
    <a class="close-reveal-modal reveal-modal__close--black" aria-label="Close">×</a>
  </div>
  <div class="reveal-modal__body">
    <h2>What type of download are you looking for?</h2>
    <h4 class="docs__html">Service Packs &amp; Fixes</h4>
    <p>Find service packs, hotfixes, object enablers, language packs and other downloads to keep your product up-to-date</p>
    <h4 class="docs__html">Full Product Versions</h4>
    <p>How to download the latest versions and previous versions of products and how to update your software</p>
    <h2>What type of download are you looking for?</h2>
    <h4 class="docs__html">Service Packs &amp; Fixes</h4>
    <p>Find service packs, hotfixes, object enablers, language packs and other downloads to keep your product up-to-date</p>
    <h4 class="docs__html">Full Product Versions</h4>
    <p>How to download the latest versions and previous versions of products and how to update your software</p>
    <h2>What type of download are you looking for?</h2>
    <h4 class="docs__html">Service Packs &amp; Fixes</h4>
    <p>Find service packs, hotfixes, object enablers, language packs and other downloads to keep your product up-to-date</p>
    <h4 class="docs__html">Full Product Versions</h4>
    <p>How to download the latest versions and previous versions of products and how to update your software</p>
    <h2>What type of download are you looking for?</h2>
    <h4 class="docs__html">Service Packs &amp; Fixes</h4>
    <p>Find service packs, hotfixes, object enablers, language packs and other downloads to keep your product up-to-date</p>
    <h4 class="docs__html">Full Product Versions</h4>
    <p>How to download the latest versions and previous versions of products and how to update your software</p>
    <h2>What type of download are you looking for?</h2>
    <h4 class="docs__html">Service Packs &amp; Fixes</h4>
    <p>Find service packs, hotfixes, object enablers, language packs and other downloads to keep your product up-to-date</p>
    <h4 class="docs__html">Full Product Versions</h4>
    <p>How to download the latest versions and previous versions of products and how to update your software</p>
    <h2>What type of download are you looking for?</h2>
    <h4 class="docs__html">Service Packs &amp; Fixes</h4>
    <p>Find service packs, hotfixes, object enablers, language packs and other downloads to keep your product up-to-date</p>
    <h4 class="docs__html">Full Product Versions</h4>
    <p>How to download the latest versions and previous versions of products and how to update your software</p>
    <h2>What type of download are you looking for?</h2>
    <h4 class="docs__html">Service Packs &amp; Fixes</h4>
    <p>Find service packs, hotfixes, object enablers, language packs and other downloads to keep your product up-to-date</p>
    <h4 class="docs__html">Full Product Versions</h4>
    <p>How to download the latest versions and previous versions of products and how to update your software</p>
  </div>
</div>

<style>
  .bright-1 {
    background: #dbfcdb;
  }
  .bright-2 {
    background: #f9f4b3;
  }
</style>



<h3>iFrame Modal</h3>

<p>When embedding an iframe inside a modal, apply the .reveal-modal--responsive-iframe class to the modal. Optionally apply .reveal-modal--no-padding so the iframe is flush with the frame</p>
<ul>
  <li>make sure the iframe is set to height="100%" and scrolling="yes"</li>
  <li>make sure the modal body has an height, style="height: 600px;"</li>
</ul>
<h4 class="docs__html">HTML</h4>
<pre><code class="language-html">&lt;a href="#" class="button" data-reveal-id="myModal3">Modal With iFrame - iFrame Scroll&lt;i class="fa fa-angle-double-up" aria-hidden="true">&lt;/i>&lt;/a>
&lt;div id="myModal3" class="reveal-modal reveal-modal--no-padding reveal-modal--responsive-iframe" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  &lt;div class="reveal-modal__header">
    &lt;div class="reveal-modal__logo">&lt;/div>
    &lt;div class="reveal-modal__title">Modal Title&lt;/div>
    &lt;a class="close-reveal-modal reveal-modal__close--black" aria-label="Close">×&lt;/a>
  &lt;/div>
  &lt;div class="reveal-modal__body" style="height: 600px;">
    &lt;iFrame class="" width="100%" height="100%" frameborder="0" scrolling="yes" id="" src="https://knowledge-local.autodesk.com/sites/all/themes/autodesk_foundation5/templates/iframe.html">&lt;/iFrame>
  &lt;/div>
&lt;/div></code></pre>

<h4 class="docs__html">Rendered HTML</h4>
<a href="#" class="button" data-reveal-id="myModal3">Modal With iFrame - iFrame Scroll<i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
<div id="myModal3" class="reveal-modal reveal-modal--no-padding reveal-modal--responsive-iframe" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="reveal-modal__header">
    <div class="reveal-modal__logo"></div>
    <div class="reveal-modal__title">Modal Title</div>
    <a class="close-reveal-modal reveal-modal__close--black" aria-label="Close">×</a>
  </div>
  <div class="reveal-modal__body" style="height: 600px;">
    <iFrame class="" width="100%" height="100%" frameborder="0" scrolling="yes" id="" src="https://knowledge-local.autodesk.com/sites/all/themes/autodesk_foundation5/templates/iframe.html"></iFrame>
  </div>
</div>

<h4 class="docs__html">HTML</h4>
<pre><code class="language-html">&lt;a href="#" class="button" data-reveal-id="myModal4">Modal With iFrame - iFrame Scroll (Blue Theme)&lt;i class="fa fa-angle-double-up" aria-hidden="true">&lt;/i>&lt;/a>
&lt;div id="myModal4" class="reveal-modal reveal-modal--blue reveal-modal--no-padding reveal-modal--responsive-iframe" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  &lt;div class="reveal-modal__header">
    &lt;a class="close-reveal-modal" aria-label="Close">×&lt;/a>
  &lt;/div>
  &lt;div class="reveal-modal__body" style="height: 1000px;">
    &lt;iFrame class="" width="100%" height="100%" frameborder="0" scrolling="yes" id="" src="https://knowledge-local.autodesk.com/sites/all/themes/autodesk_foundation5/templates/iframe.html">&lt;/iFrame>
  &lt;/div>
&lt;/div></code></pre>

<h4 class="docs__html">Rendered HTML</h4>
<a href="#" class="button" data-reveal-id="myModal4">Modal With iFrame - iFrame Scroll (Blue Theme)<i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
<div id="myModal4" class="reveal-modal reveal-modal--blue reveal-modal--no-padding reveal-modal--responsive-iframe" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="reveal-modal__header">
    <a class="close-reveal-modal" aria-label="Close">×</a>
  </div>
  <div class="reveal-modal__body" style="height: 1000px;">
    <iFrame class="" width="100%" height="100%" frameborder="0" scrolling="yes" id="" src="https://knowledge-local.autodesk.com/sites/all/themes/autodesk_foundation5/templates/iframe.html"></iFrame>
  </div>
</div>


<h3>Modal Settings</h3>
<h5>Responsive</h5>
<ul>
  <li>The modal is responsive by default.</li>
  <li>The modal is always position 5vh from the top of the window.</li>
  <li>The modal height is set by it's content. But has a max height of 90vh</li>
  <li>The modal width is 80%% with a max-width of 1000px</li>
  <li>On mobile, the modal is 100% wide x 100% height</li>
</ul>

<h5>Click to Close</h5>
  <ul>
    <li>The user can click on the overlay background to close the modal. Also referred to as clicking "outside" the modal.</li>
    <li>The user press the "esc" key to close the modal</li>
  </ul>
<p><em>To override these defaults</em></p>
<pre><code class="language-javascript">// Place code in js/scripts.js or your custom module
jQuery(document).foundation({
  reveal: {
    close_on_background_click: false,
    close_on_esc: false
  }
});

// Reboots the reveal default options with the settings above
jQuery('#myModal').foundation('reveal', 'reflow');
jQuery('#myModal').foundation('reveal','open');</code></pre>

<h5>Scrolling</h5>
<ul>
  <li>When the modal is revealed, document scrolling is disabled. We use jQuery to add a class of .modal-open to the body. This actives the CSS style body.modal-open { overflow: hidden }</li>
  <li>Inside the modal, only content within div.reveal-modal__body is scrollable. This allows us to use a fixed header and handle iFrames elegantly.</li>
</ul>

<pre><code class="language-javascript">// templates/html.tpl.php
$(document).on('open', '[data-reveal]', function () {
  $('body').addClass('modal-open');
});

$(document).on('close', '[data-reveal]', function () {
  $('body').removeClass('modal-open');
});</code></pre>
<pre><code class="language-css">/* scss/components/_modal.scss */
body.modal-open {
  overflow: hidden
}</code></pre>

