<h1>Pagination</h1>
s
<ul class="pager"><li class="pager-current item-1">1</li><li class="pager-item item-2"><a href="?page=2" title="Go to page 2">2</a></li><li class="pager-item item-3"><a href="?page=3" title="Go to page 3">3</a></li><li class="pager-next"><a href="?page=2" title="Go to next page">next ›</a></li><li class="pager-last"><a href="?page=3" title="Go to last page">last »</a></li>    </ul>
