<h1>Panels</h1>
s

<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a href="#panel1a">Existing Panels</a>
    <div id="panel1a" class="content">
    s
    <h3>Existing Panels</h3>
    <div class="row">
        <div class="small-12 medium-4 columns" data-equalizer-watch="">
            <div class="row small-collapse medium-uncollapse">
                <div class="small-2 small-offset-1 medium-10 medium-offset-1 large-2 large-offset-1 columns"><img alt="" src="/sites/all/themes/autodesk_foundation5/images/standard/cap.png"></div>

                <div class="small-9 medium-10 medium-offset-1 large-9 large-offset-0 columns">
                    <h2>Support &amp; Learning</h2>
                </div>

                <div class="small-11 small-offset-1 medium-10 medium-offset-1 large-9 large-offset-3 columns">
                    <p>Find tutorials, documentation, downloads, troubleshooting articles and more</p>
                    <a class="button arrow" href="/support">Browse Support and Learning</a></div>
            </div>
        </div>

        <div class="small-12 medium-4 columns" data-equalizer-watch="" >
            <div class="row small-collapse medium-uncollapse">
                <div class="small-2 small-offset-1 medium-10 medium-offset-1 large-2 large-offset-1 columns"><img alt="" src="/sites/all/themes/autodesk_foundation5/images/standard/customer-service.png"></div>

                <div class="small-9  medium-10 medium-offset-1 large-9 large-offset-0 columns">
                    <h2>Customer Service</h2>
                </div>

                <div class="small-11 small-offset-1 medium-10 medium-offset-1 large-9 large-offset-3 columns">
                    <p>Get help with accounts, installation, configuring&nbsp;a deployment, and more</p>
                    <a class="button arrow" href="customer-service">Browse Customer Service</a></div>
            </div>
        </div>

        <div class="small-12 medium-4 columns" data-equalizer-watch="">
            <div class="row small-collapse medium-uncollapse">
                <div class="small-2 small-offset-1 medium-10 medium-offset-1 large-2 large-offset-1 columns"><img alt="" src="/sites/all/themes/autodesk_foundation5/images/standard/community.png"></div>

                <div class="small-9 medium-10 medium-offset-1 large-9 large-offset-0 columns">
                    <h2>Community</h2>
                </div>

                <div class="small-11 small-offset-1 medium-10 medium-offset-1 large-9 large-offset-3 columns">
                    <p>Bringing together the collective wisdom of Autodesk customers and experts</p>
                    <a class="button arrow" href="/community">Browse Community</a></div>
            </div>
        </div>
    </div>

    s

    <div class="row" data-equalizer="">
        <div class="small-12 medium-4 columns" data-equalizer-watch="">
            <div class="row small-uncollapsed">
                <div class="small-7 medium-8 large-7 columns">
                    <h2>Get Up &amp; Running</h2>

                    <ul class="adskBulletedList">
                        <li class="modal-system-requirements"><a href="/support/system-requirements">System Requirements</a></li>
                        <li class="hide-for-small"><a id="downloadFinderModalTrigger">Downloads &amp; Upgrades</a></li>
                        <li class="hide-for-medium-up"><a id="downloadFinderPageTrigger">Downloads &amp; Upgrades</a></li>
                        <li><a href="customer-service/installation-activation-licensing">Installation, Activation<br>
                                &amp; Licensing</a></li>
                        <li><a href="customer-service/account-management">Account Management</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="small-12 medium-4 columns" data-equalizer-watch="" style="height: 300px; background-image: url(&quot;/sites/all/themes/autodesk_foundation5/images/standard/running-b.png&quot;);">
            <div class="row">
                <div class="small-7 medium-8 large-7 columns">
                    <h2>Find Answers</h2>

                    <ul class="adskBulletedList">
                        <li class="modal-troubleshooting"><a href="#">Troubleshooting</a></li>
                        <li><a href="http://forums.autodesk.com/" target="_blank">Community-approved answers</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="small-12 medium-4 columns" data-equalizer-watch="" style="height: 300px; background-image: url(&quot;/sites/all/themes/autodesk_foundation5/images/standard/running-c.png&quot;);">
            <div class="row">
                <div class="small-7 medium-8 large-7 columns">
                    <h2>Expand Your Knowledge</h2>

                    <ul class="adskBulletedList">
                        <li class="modal-learn-explore"><a href="#">Learn &amp; Explore</a></li>
                        <li><a href="http://au.autodesk.com/au-online/overview" target="_blank">Autodesk University Classes</a></li>
                        <li><a href="http://www.autodesk.com/training-and-certification/authorized-training-centers/locate-an-atc" target="_blank">Classroom Training</a></li>
                        <li><a href="http://www.autodesk.com/training-and-certification/certification" target="_blank">Certification</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    s

    <div class="row clearfix" >
        <ul class="share-options" data-equalizer="">
            <li data-equalizer-watch="" style="height: 249px;">
                <div class="panel" data-equalizer-watch="" >
                    <h2>Write an Article</h2>

                    <p>Share anything from a tip to a white paper</p>
                    <a href="community/article/new">Write an Article</a></div>
            </li>
            <li data-equalizer-watch="" style="height: 249px;">
                <div class="panel" data-equalizer-watch="">
                    <h2>Answer a Question</h2>

                    <p>Answer a question on an Autodesk forum</p>
                    <a href="//forums.autodesk.com" target="_blank">Answer a Question</a></div>
            </li>
            <li data-equalizer-watch="" style="height: 249px;">
                <div class="panel" data-equalizer-watch="">
                    <h2>Create a Screencast</h2>

                    <p>Create high-quality video capturing the details of complex workflows in Autodesk products and other applications</p>
                    <a href="community/screencast">Create a Screencast</a></div>
            </li>
        </ul>
    </div>

    s

    <div class="row">
        <div class="body-left">
            <div class="download-box-content">
                <h4 class="docs__html">Service Packs &amp; Fixes</h4>
                <p>Find service packs, hotfixes, object enablers, language packs and other downloads to keep your product up-to-date</p>
            </div>
        </div>
    </div>

    s

    <div class="row">
        <div class="small-12 medium-8 large-9 columns border-right">
            <div class="row">
                <div class="small-12 medium-6 large-4 columns">
                    <h5><a href="/customer-service/account-management">Account Management</a></h5>

                    <p>Use your Autodesk ID to access subscription benefits, cloud services, and more</p>

                    <ul class="adskBulletedList">
                        <li><a href="/customer-service/account-management/account-access">Account Access</a></li>
                        <li><a href="/customer-service/account-management/subscription-management/users-permissions">Manage Software Users</a></li>
                        <li><a href="/customer-service/account-management/subscription-management/manage-contracts">Subscription Renewal &amp; Billing</a></li>
                        <li><a href="/customer-service/account-management/software-downloads">Download Software</a></li>
                    </ul>
                    <a class="button arrow" href="https://accounts.autodesk.com" target="_blank">Go to Your Account</a></div>

                <div class="small-12 medium-6 large-4 columns">
                    <h5><a href="/customer-service/installation-activation-licensing">Installation, Activation &amp; Licensing</a></h5>

                    <p>Get up and running with your software</p>

                    <ul>
                        <li><a href="/customer-service/installation-activation-licensing/get-ready">Get Ready to Install</a></li>
                        <li><a href="/customer-service/installation-activation-licensing/install-configure">Install &amp; Configure</a></li>
                        <li><a href="/customer-service/installation-activation-licensing/activate-register">Activate &amp; Register</a></li>
                        <li><a href="/customer-service/installation-activation-licensing/manage-licensing">Manage Licensing</a></li>
                        <li><a href="/customer-service/installation-workflow">Installation Workflow</a></li>
                    </ul>
                    <a class="button arrow" href="http://forums.autodesk.com/t5/installation-and-licensing/ct-p/3001" target="_blank">Ask the Community</a></div>

                <div class="small-12 medium-6 large-4 end columns">
                    <h5><a href="/customer-service/network-license-administration">Network License Administration</a></h5>

                    <p>Plan and create network servers for distributing Autodesk software and software licenses</p>

                    <ul>
                        <li><a href="/customer-service/network-license-administration/get-ready-network-license">Get Ready for Network Licensing</a></li>
                        <li><a href="/customer-service/network-license-administration/install-and-configure-network-license">Install &amp; Configure</a></li>
                        <li><a href="/customer-service/network-license-administration/managing-network-licenses">Manage Network Licenses</a></li>
                        <li><a href="/customer-service/network-license-administration/network-deployment">Network Deployment</a></li>
                    </ul>
                    <a class="button arrow" href="http://forums.autodesk.com/t5/installation-and-licensing/ct-p/3001" target="_blank">Ask the Community</a></div>
            </div>
        </div>
    </div>
    </div>
  </li>
  <li class="accordion-navigation">
    <a href="#panel2a">Refactored Panels</a>
    <div id="panel2a" class="content active">
    <h2>Panel With Background</h2>
    <h4 class="sg">Rendered HTML</h4>

        <div class="row margin-bottom" data-equalizer="">

            <div class="small-12 small-medium-4 medium-4 large-4 columns" data-equalizer-watch="">
                <div class="panel">
                    <h2 class="panel__title">Support &amp; Learning</h2>
                    <p class="panel__description">Find tutorials, documentation, downloads, troubleshooting articles and more</p>
                    <a class="button arrow" href="/support">Browse Support and Learning</a>
                </div>
            </div>

            <div class="small-12 small-medium-4 medium-4 large-4 columns" data-equalizer-watch="">
                <div class="panel">
                    <h2 class="panel__title">Support &amp; Learning</h2>
                    <p class="panel__description">Find tutorials, documentation, downloads, troubleshooting articles and more</p>
                    <ul class="panel__list">
                        <li><a href="/support/system-requirements">System Requirements</a></li>
                        <li><a id="downloadFinderModalTrigger">Downloads &amp; Upgrades</a></li>
                        <li><a id="downloadFinderPageTrigger">Downloads &amp; Upgrades</a></li>
                        <li><a href="customer-service/installation-activation-licensing">Installation, Activation &amp; Licensing</a></li>
                        <li><a href="customer-service/account-management">Account Management</a></li>
                    </ul>
                </div>
            </div>

            <div class="small-12 medium-4 columns" data-equalizer-watch="">
                <div class="panel panel--spine panel--border-left">
                    <img class="panel__image" alt="" src="/sites/all/themes/autodesk_foundation5/images/standard/cap.png">
                    <h2 class="panel__title">Support &amp; Learning</h2>
                    <p class="panel__description">Find tutorials, documentation, downloads, troubleshooting articles and more</p>
                    <a class="button arrow" href="/support">Browse Support and Learning</a>
                </div>
            </div>

        </div>
        <div class="row margin-bottom" data-equalizer="">

            <div class="small-12 small-medium-4 medium-4 large-4 columns" data-equalizer-watch="">
                <div class="panel panel--background" style="background-image: url(&quot;/sites/all/themes/autodesk_foundation5/images/standard/running-b.png&quot;);">
                    <h2 class="panel__title">Support &amp; Learning</h2>
                    <p class="panel__description">Find tutorials, documentation, downloads, troubleshooting articles and more</p>
                    <ul class="panel__list">
                        <li><a href="/support/system-requirements">System Requirements</a></li>
                        <li><a id="downloadFinderModalTrigger">Downloads &amp; Upgrades</a></li>
                        <li><a id="downloadFinderPageTrigger">Downloads &amp; Upgrades</a></li>
                        <li><a href="customer-service/installation-activation-licensing">Installation, Activation &amp; Licensing</a></li>
                        <li><a href="customer-service/account-management">Account Management</a></li>
                    </ul>
                </div>
            </div>

            <div class="small-12 small-medium-4 medium-4 large-4 columns" data-equalizer-watch="">
                <div class="panel panel--background" style="background-image: url(&quot;/sites/all/themes/autodesk_foundation5/images/standard/running-a.png&quot;);">
                    <h2 class="panel__title">Support &amp; Learning</h2>
                    <p class="panel__description">Find tutorials, documentation, downloads, troubleshooting articles and more</p>
                    <ul class="panel__list">
                        <li><a href="/support/system-requirements">System Requirements</a></li>
                        <li><a id="downloadFinderModalTrigger">Downloads &amp; Upgrades</a></li>
                        <li><a id="downloadFinderPageTrigger">Downloads &amp; Upgrades</a></li>
                    </ul>
                    <a href="#" class="button arrow">Button</a>
                </div>
            </div>

            <div class="small-12 small-medium-4 medium-4 large-4 columns" data-equalizer-watch="">
                <div class="panel panel--solid">
                    <h2 class="panel__title">Support &amp; Learning</h2>
                    <p class="panel__description">Find tutorials, documentation, downloads, troubleshooting articles and more</p>
                </div>
            </div>

        </div>

        <div class="row margin-bottom" data-equalizer="">

            <div class="small-12 small-medium-4 medium-4 large-4 columns" data-equalizer-watch="">
                <div class="panel panel--background panel--solid" style="background-image: url(&quot;/sites/all/themes/autodesk_foundation5/images/standard/running-a.png&quot;);">
                    <h2 class="panel__title">Support &amp; Learning</h2>
                    <ul class="panel__list">

                        <li><a href="/support/system-requirements">System Requirements</a></li>
                        <li><a id="downloadFinderModalTrigger">Downloads &amp; Upgrades</a></li>
                        <li><a id="downloadFinderPageTrigger">Downloads &amp; Upgrades</a></li>
                        <li><a id="downloadFinderModalTrigger">Downloads &amp; Upgrades</a></li>
                        <li><a id="downloadFinderPageTrigger">Downloads &amp; Upgrades</a></li>
                    </ul>
                    <a href="#" class="button arrow">Button</a>
                </div>
            </div>

            <div class="small-12 small-medium-4 medium-4 large-4 columns end" data-equalizer-watch="">
                <div class="panel">
                    <h2 class="panel__title panel__title--small"><a href="#">Support &amp; Learning</a></h2>
                    <p class="panel__description">Find tutorials, documentation, downloads, troubleshooting articles and more</p>
                    <ul class="panel__list">
                        <li><a href="/support/system-requirements">System Requirements</a></li>
                        <li><a id="downloadFinderModalTrigger">Downloads &amp; Upgrades</a></li>
                        <li><a id="downloadFinderPageTrigger">Downloads &amp; Upgrades</a></li>
                        <li><a href="customer-service/installation-activation-licensing">Installation, Activation &amp; Licensing</a></li>
                        <li><a href="customer-service/account-management">Account Management</a></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
  </li>
</ul>
