<h1>Popovers</h1>
<p>Popovers are like tooltips but contain HTML content. Tooltips only contain 1 sentence and use the title attribute. </p>
s

<div data-alert="" class="alert-box alert radius">
    The following pages use popovers that need to be upgraded
    <ul>
        <li>What will I see if I sign in? <a href="https://knowledge-local.autodesk.com/contactus/activation-registration/registering-product">https://knowledge-local.autodesk.com/contactus/activation-registration/registering-product</a></li>
        <li>Share Icon <a href="https://knowledge-local.autodesk.com/customer-service/installation-activation-licensing">https://knowledge-local.autodesk.com/customer-service/installation-activation-licensing</a></li>
    </ul>
    <a href="#" class="close">×</a>
</div>

