<h1>Posters</h1>
<div class="posters row">
    <div class="poster small-12 medium-6 large-6 columns ">
        <div class="poster-inner">
            <img src="/images/unsplash/1.jpeg">
            <div class="poster-overlay">
                <h3 class="poster-title">Attach Files</h3>
                <span class="poster-icon"><img
                        src="/sites/all/themes/autodesk_foundation5/images/marketing/articles/icons/paperclip.png"></span>

                <p>Attaching a file from AutoCAD, Maya, Revit, or other Autodesk products is as easy as attaching a file
                    to an email.</p>
            </div>
        </div>
    </div>

    <div class="poster small-12 medium-6 large-6 columns">
        <div class="poster-inner">
            <img src="/images/unsplash/2.jpeg">
            <div class="poster-overlay">
                <h3 class="poster-title">Format Text</h3>
                <span class="poster-icon"><img src="/sites/all/themes/autodesk_foundation5/images/marketing/articles/icons/formatText.png"></span>
                <p>Write it your way, with formatting that makes your article easy to scan and understand. The authoring
                    platform offers simple and familiar text-formatting tools.</p>
            </div>
        </div>
    </div>

</div>

<pre><code class="language-markup">&lt;div class="poster small-12 small-medium-6 medium-6 large-6 columns"&gt;
    &lt;div class="poster-inner"&gt;
        &lt;img src="/sites/all/themes/autodesk_foundation5/images/marketing/articles/formatText.jpg"&gt;
        &lt;div class="poster-overlay"&gt;
            &lt;h3 class="poster-title"&gt;Format Text&lt;/h3&gt;
            &lt;span class="poster-icon"&gt;&lt;img src="/sites/all/themes/autodesk_foundation5/images/marketing/articles/icons/formatText.png"&gt;&lt;/span&gt;
            &lt;p&gt;Write it your way, with formatting that makes your article easy to scan and understand. The authoring
            platform offers simple and familiar text-formatting tools.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>


s
<h2>Single Poster</h2>

<div class="row">
    <div class="small-12 column">
        <div class="poster">
            <div class="poster-inner">
            <img src="/images/unsplash/2.jpeg">
                <div class="poster-overlay">
                    <h3 class="poster-title">Attach Files</h3>
                    <span class="poster-icon"><img src="/sites/all/themes/autodesk_foundation5/images/marketing/articles/icons/paperclip.png"></span>
                    <p>Attaching a file from AutoCAD, Maya, Revit, or other Autodesk products is as easy as attaching a file
                        to an email.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<pre><code class="language-markup">&lt;div class="poster"&gt;
    &lt;div class="poster-inner"&gt;
        &lt;img src="/sites/all/themes/autodesk_foundation5/images/marketing/articles/attachFiles.jpg"&gt;
        &lt;div class="poster-overlay"&gt;
            &lt;h3 class="poster-title"&gt;Attach Files&lt;/h3&gt;
            &lt;span class="poster-icon"&gt;&lt;img src="/sites/all/themes/autodesk_foundation5/images/marketing/articles/icons/paperclip.png"&gt;&lt;/span&gt;
            &lt;p&gt;Attaching a file from AutoCAD, Maya, Revit, or other Autodesk products is as easy as attaching a file
                to an email.&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
