<h1>Sidebar Blocks</h1>
s
<div class="block block-views block-views-quick-links-block block-even clearfix block-views-quick-links-block block-even">
    <!--  Classes:block block-views block-views-quick-links-block block-even clearfix block-views-quick-links-block block-even  -->


    <div class="block-content">
        <div class="view view-quick-links view-id-quick_links view-display-id-block view-dom-id-977b1b0c959d48533926b9c6e14e9463">



            <div class="view-content">
                <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">

                    <div class="views-field views-field-title-field">        <h2 class="field-content block-title">Quick Links</h2>  </div>
                    <div class="views-field views-field-body">        <div class="field-content"><p>For the following issues, complete a form requesting support. We will contact you shortly.</p>
                        </div>  </div>
                    <div class="views-field views-field-field-links">        <div class="field-content link_collection"><div class="item-list"><ul><li class="first"><a href="https://knowledge-dev.autodesk.com/contactus/websupport/transferring-licenses">Transfer a License</a></li>
                                    <li><a href="https://knowledge-dev.autodesk.com/contactus/websupport/contract-administration">Change Contract Manager</a></li>
                                    <li><a href="https://knowledge-dev.autodesk.com/contactus/websupport/requesting-boxed-software">Order Boxed Software for a Previous Version</a></li>
                                    <li><a href="https://knowledge-dev.autodesk.com/contactus/websupport/previous-version-licenses">Previous Version Licenses</a></li>
                                    <li><a href="https://knowledge-dev.autodesk.com/contactus/websupport/home-use-licenses">Home Use Licenses</a></li>
                                    <li class="last"><a href="https://knowledge-dev.autodesk.com/contactus/websupport/license-reports">License Reports</a></li>
                                </ul></div></div>  </div>  </div>
            </div>






        </div>    </div>
</div>


<div class="link-container-outer">
    <div class="link-container-inner download-finder">
        <h5><a class="hide-for-small" id="downloadFinderModalTrigger">Download Finder</a> <a class="hide-for-medium-up" id="downloadFinderPageTrigger">Download Finder</a></h5>

        <p>Find downloads for your Autodesk products.</p>
    </div>
</div>

    <div class="block block-autodesk-needassistance block-autodesk-needassistance-needassistance-block block-odd clearfix block-autodesk-needassistance-needassistance-block block-odd">
        <!--  Classes:block block-autodesk-needassistance block-autodesk-needassistance-needassistance-block block-odd clearfix block-autodesk-needassistance-needassistance-block block-odd  -->


        <div class="block-content">
            <div class="getting-started"><div class="help_test"><a href="/contactus" id="need-asst-btn" class="button arrow small expand">Need Assistance?</a></div></div><br>    </div>
    </div>  <div class="block block-autodesk-translation block-autodesk-translation-translation-block block-even clearfix block-autodesk-translation-translation-block block-even">
        <!--  Classes:block block-autodesk-translation block-autodesk-translation-translation-block block-even clearfix block-autodesk-translation-translation-block block-even  -->

        <h2 class="block-title block-title"><span>Translate this Page</span></h2>

        <div class="block-content">
            <div id="adsk-mstranslation">
                <div class="translate-filter-toggle">
                    <div id="selected-translate">English</div>
                </div>
                <div class="inner-toggle">
                    <div class="select-wrapper">
                        <select id="select-language-to-translate">
                            <option value="ind-ID">Bahasa Indonesia (Indonesian)</option>
                            <option value="msa-MY">Bahasa Melayu (Malay)</option>
                            <option value="cat-ES">Català (Catalan)</option>
                            <option value="ces-CZ">Čeština (Czech)</option>
                            <option value="dan-DK">Dansk (Danish)</option>
                            <option value="deu-DE">Deutsch (German)</option>
                            <option value="eng-EN" selected="selected">English</option>
                            <option value="spa-ES">Español (Spanish)</option>
                            <option value="fra-FR">Français (French) </option>
                            <option value="ita-IT">Italiano (Italian)</option>
                            <option value="lav-LV">Latviešu valoda (Latvian)</option>
                            <option value="lit-LT">Lietuvių kalba (Lithuanian)</option>
                            <option value="hun-HU">Magyar (Hungarian)</option>
                            <option value="nld-NL">Nederlands (Dutch)</option>
                            <option value="nor-NO">Norsk (Norwegian)</option>
                            <option value="pol-PL">Polski (Polish)</option>
                            <option value="por-BR">Português (Brasil) (Brazilian Portuguese)</option>
                            <option value="ron-RO">Română (Romanian)</option>
                            <option value="slk-SK">Slovenčina (Slovak)</option>
                            <option value="slv-SI">Slovenščina (Slovenian)</option>
                            <option value="fin-FI">Suomi (Finnish)</option>
                            <option value="swe-SE">Svenska (Swedish)</option>
                            <option value="vie-VN">Tiếng Việt (Vietnamese)</option>
                            <option value="tur-TR">Türkçe (Turkish)</option>
                            <option value="ell-GR">Ελληνικά (Greek)</option>
                            <option value="bul-BG">Български (Bulgarian)</option>
                            <option value="rus-RU">Русский (Russian)</option>
                            <option value="ukr-UA">Українська (Ukranian)</option>
                            <option value="hin-IN">हिन्दी (Hindi)</option>
                            <option value="tha-TH">ภาษาไทย (Thai)</option>
                            <option value="kor-KR">한국어 (Korean)</option>
                            <option value="jpn-JP">日本語 (Japanese)</option>
                            <option value="zho-CN">简体 (Chinese Simplified)</option>
                            <option value="zho-TW">繁體 (Chinese Traditional)</option>
                            <option value="tlh-Qaak">Klingon (pIqaD)</option>
                        </select>
                    </div>
                    <button class="btn-translate btn-start button secondary no-arrow" onclick="adskSendTranslate();">Translate</button>
                    <button class="btn-translate btn-original hide button secondary no-arrow" onclick="adskOriginal();">View Original</button>
                    <br><input type="checkbox" name="adsk-translation-cookie-storage" value="0" id="adsk-translation-cookie-storage"><span class="use-lang">Use this language while I browse</span></div>
                <p class="machine-trans inner-toggle">This is <a href="#" class="toggle-copy">machine translation</a>.</p>
                <div class="legal-text hide"><span style="font-size: 12px; line-height: normal;">This page has been translated for your convenience using a machine translation service.  This does not serve as an official translation and may contain errors and inaccurate translations.  Autodesk makes no warranty, express or implied, as to accuracy, reliability or completeness of any information translated by the machine translation service and shall not be liable for any damages or loss from your reliance on the translation service.</span>
                </div>
            </div>
        </div>
    </div>  <div class="block block-adsk-related-links block-adsk-related-links-adsk-related-links-related block-odd clearfix block-adsk-related-links-adsk-related-links-related block-odd clearfix">
        <!--  Classes:block block-adsk-related-links block-adsk-related-links-adsk-related-links-related block-odd clearfix block-adsk-related-links-adsk-related-links-related block-odd clearfix  -->

        <h2 class="block-title block-title"><span>Related Articles</span></h2>

        <div class="block-content">
            <div class="item-list"><ul><li class="first"><a href="/support/3ds-max/getting-started/caas/CloudHelp/cloudhelp/2016/ENU/3DSMax/files/GUID-59861369-67E1-4806-901E-40BBE603AA37-htm.html?v=2016">Lights and Cameras</a></li>
                    <li><a href="/support/3ds-max/getting-started/caas/CloudHelp/cloudhelp/2016/ENU/3DSMax-Tutorial/files/GUID-9028FB7D-F2F4-402C-A014-DAAE1FB1773C-htm.html?v=2016">Preparing the Scene in Revit</a></li>
                    <li class="last"><a href="/support/3ds-max/getting-started/caas/CloudHelp/cloudhelp/2016/ENU/3DSMax-Tutorial/files/GUID-65DD9716-74C7-405F-B05B-9E8C1E2CA306-htm.html?v=2016">Analyzing the Lighting</a></li>
                </ul></div>    </div>
    </div>  <div class="block block-adsk-core block-adsk-core-forums-callout-block block-even clearfix block-adsk-core-forums-callout-block block-even">
        <!--  Classes:block block-adsk-core block-adsk-core-forums-callout-block block-even clearfix block-adsk-core-forums-callout-block block-even  -->


        <div class="block-content">

            <div id="forums-callout-block">
                <div class="image">
                    <a href="#"></a>
                </div>
                <h2 class="forums-callout-block-title">
                    3ds Max Forum  </h2>
                <div class="forums-callout-block-body">
                    <p>Connect with peers and Autodesk in our forums, read community articles, and submit your ideas.</p>
                </div>
                <div class="forum-callout-link">
                    <a target="_blank" href="http://forums.autodesk.com/t5/3ds-max/ct-p/area-c1">Visit the Forum</a>
                </div>
            </div>
        </div>
    </div>
