<h1>Tabs</h1>
s
<h2>Product Tabs</h2>
    <ul class="product-tabs topic-tabs">
        <li class="leaf" id="getready">
            <a href="/customer-service/network-license-administration/get-ready-network-license">
                Get Ready                  </a>
        </li>
        <li class="leaf" id="installandconfigure">
            <a href="/customer-service/network-license-administration/install-and-configure-network-license">
                Install and Configure                  </a>
        </li>
        <li class="leaf" id="managingnetworklicenses">
            <a href="/customer-service/network-license-administration/managing-network-licenses">
                Managing Network Licenses                  </a>
        </li>
        <li class="leaf" id="networkdeployment">
            <a href="/customer-service/network-license-administration/network-deployment" class="active">
                Network Deployment                  </a>
        </li>
    </ul>
