<h1>Tooltip</h1>
<div class="row">
    <div class="large-6 columns">
        <h4 class="docs__html">HTML</h4>

<pre><code class="language-html">&lt;span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!">extended information&lt;/span>
</code></pre>

    </div>
    <div class="large-6 columns">
        <h4 class="docs__html">Rendered HTML</h4>
        <span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!">Hover on desktop or touch me on mobile!</span>
    </div>
</div>
