// ==========================================================================
// Hero
// ==========================================================================
.hero {
  height: 500px;
  background-size: cover;
  background-position-x: center;
  background-repeat: none;
  position: relative;
  color: #fff;
  overflow: hidden;
}
