// ==========================================================================
// Menu
// ==========================================================================
ul.menu {
    padding: 18px 0 18px 0;
    margin: 0;
    margin-right: 80px;
    font-family: $base-font;
    line-height: 30px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    vertical-align: middle;
    border-bottom: none;
    z-index: 140;
    float: right;
    text-transform: uppercase;
    li {
        float: left;
        display: block;
        font-family: $base-font;
        margin: 0;
        padding: 0;

        &:first-child a{
            padding-left: 0;
        }
        a {
            display: block;
            background: none;
            color: $primary-color;
            text-decoration: none;
            padding: 0 10px 0 10px;
            &:hover {
                color: $primary-color;
                text-decoration: underline;
            }
            &.active {
                color: $primary-color;
                text-decoration: underline;
            }
        }
        // Special Menu Items
        span {
            padding: 10px 18px;
            display: block;
            background: none;
            color: $primary-color;
            cursor: context-menu;
            @media #{$medium-only} {
                padding: 2px 6px;
                font-size: 13px;
            }
        }
        &.expanded {
            // Second Level
            ul {
                padding: 14px 7px;
                margin: 0;

                li {
                    text-transform: capitalize;
                    a {
                        margin: 0 0 7px 0;
                        padding: 5px 10px;
                        font-size: 14px;
                        font-weight: 400;
                        color: #ccc;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
                // Third Level
                ul {
                    li {
                        a {
                            text-indent: 20px;
                            &:hover {
                            }
                        }
                    }
                }
            }
        }
    }
}
