.stars {
	display: inline-block;
	vertical-align: middle;
	color: #FFB400;
	&:hover > .star{
		cursor: pointer;
		&:before {
			content: "\f005" !important;
			font-family: FontAwesome;
		}
	}
	> .star {
		float: left;
		position: relative;
		transition: background-color 350ms;
		&:before {
			content: "\f006";
			font-family: FontAwesome;
		}
		&:hover ~ .star {
			&:before {
				content: "\f006" !important;
				font-family: FontAwesome;
			}
		}
		&.star-full {
			&:before {
			content: "\f005";
			font-family: FontAwesome;
			}
		}
		&.star-half {
			&:before {
			content: "\f123";
			font-family: FontAwesome;
			}
		}
	}
}

@for $i from 1 through 5 {
    .stars.star-#{$i} {
		.star {
			&:nth-child(-n+#{$i}) {
				&:before {
					content: "\f005";
					font-family: FontAwesome;
				}
			}
		}
	}
	.stars.star-#{$i + \.5} {
		.star {
			&:nth-child(-n+#{$i}) {
				&:before {
					content: "\f005";
					font-family: FontAwesome;
				}
			}
			&:nth-child(#{$i + 1}) {
				&:before {
					content: "\f123";
					font-family: FontAwesome;
				}
			}
		}
	}
}
