
	<div class="hero">
		<div class="row">
			<div class="column small-12">
				<h1>Hero</h1>
				<p>This is a hero</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="column small-12">
			<h1>Welcome to Harp</h1>
			<p>This is a basic harp installation</p>
		</div>
	</div>

