<div class="header">
	<div class="row">
	<div class="columns small-12">
		<div class="logo__text"><a href="/index">Harp</a></div>
		<ul class="menu">
			<li class="<%- current.source == 'index' ? 'active' : '' %>"><a href="/">Index</a>
			<li class="<%- current.source == 'grid' ? 'active' : '' %>"><a href="/docs/grid">Grid</a></li>
		</ul>
		</div>
	</div>
</div>
