<div class="header header--fixed">
	<div class="row">
		<div class="columns small-12">
			<div class="logo__text"><a href="/index">Harp Boilerplate</a></div>
      <ul class="menu show-for-medium-up">
        <li class="<%- current.source == 'index' ? 'active' : '' %>"><a href="<%- baseurl %>index">Overview</a>
        <li class="<%- current.source == 'docs' ? 'active' : '' %>"><a href="<%- baseurl %>docs/index">Framework</a></li>
      </ul>
		</div>
	</div>
</div>
