<ul class="menu">
	<li class="<%- current.source == 'index' ? 'active' : '' %>"><a href="/">Index</a>
	<li class="<%- current.source == 'grid' ? 'active' : '' %>"><a href="/docs/grid">Grid</a></li>
</ul>