<nav class="pushmenu">
  <a href="#">Home</a>
  <a href="#">Nav2</a>
  <a href="#">Nav3</a>
  <a href="#">Nav4</a>
  <a href="#">Nav5</a>
  <a href="#">Nav6</a>
  <a href="#">Nav7</a>
</nav>


<div id="pushmenu-toggle" class="pushmenu-toggle">
  <button class="hamburger hamburger--spin" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</div>

