// Border Radius
@mixin border-radius-none($radius: 0px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-top($radius: 5px) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-radius-bottom($radius: 5px) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-radius-left($radius: 5px) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-radius-right($radius: 5px) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-radius-multiple($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
  -webkit-border-top-right-radius: $topright;
  -webkit-border-bottom-right-radius: $bottomright;
  -webkit-border-bottom-left-radius: $bottomleft;
  -webkit-border-top-left-radius: $topleft;
  -moz-border-radius-topright: $topright;
  -moz-border-radius-bottomright: $bottomright;
  -moz-border-radius-bottomleft: $bottomleft;
  -moz-border-radius-topleft: $topleft;
  border-top-right-radius: $topright;
  border-bottom-right-radius: $bottomright;
  border-bottom-left-radius: $bottomleft;
  border-top-left-radius: $topleft;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

// Drop Shadows
@mixin box-shadow($shadow: 0 1px 3px rgba(0,0,0,.5)) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin box-shadow-inset($shadow: 0 3px 6px rgba(0,0,0,.5)) {
  -webkit-box-shadow: inset $shadow;
  -moz-box-shadow: inset $shadow;
  box-shadow: inset $shadow;
}

@mixin box-shadow-none($shadow: 0 0 0 rgba(0,0,0,.0)) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

// Text Shadow
@mixin text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

@mixin text-shadow-none {
  text-shadow: none;
}

@mixin text-shadow-custom($textshadow: 2px 2px 2px #000) {
  text-shadow: $textshadow;
}

@mixin text-shadow-white($textshadow: 0 1px 0 $white) {
  text-shadow: $textshadow;
}

// Transition
@mixin transition($transition-property:opacity, $transition-duration:2s, $transition-timing-function:linear, $transition-delay:0s) {
  -moz-transition: $transition-property $transition-duration $transition-timing-function $transition-delay;
  -webkit-transition: $transition-property $transition-duration $transition-timing-function $transition-delay;
  -o-transition: $transition-property $transition-duration $transition-timing-function $transition-delay;
  transition: $transition-property $transition-duration $transition-timing-function $transition-delay;
}

// Opacity
@mixin opacity($opacity: 100) {
  opacity: $opacity / 100;
}

@mixin img-glow {
  @include opacity(100);
  @include transition(opacity, 0.125s, linear, 0s);
  &:hover {
    @include opacity(70);
  }
}

// Responsive Image
@mixin img-responsive($display: block) {
  display: $display;
  width: 100%;
  height: auto;
}

@mixin img-normal {
  display: block;
  width: auto;
  height: auto;
}

// Utility
@mixin left {
  float: left;
}

@mixin right {
  float: right;
}

@mixin line {
  border-top: 1px solid #CCC;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

@mixin border-shadow {
  @include box-shadow(0 0px 4px #CCC);
  padding: 5px;
  line-height: 1;
  border: 1px solid #ddd;
}

@mixin border {
  border: 1px solid #CCC;
  padding: 4px;
  vertical-align: baseline;
  &:hover {
    @include box-shadow(0 0px 4px #CCC);
    opacity: 1;
  }
}

@mixin no-margin {
  margin: 0;
}

@mixin border-box {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

@mixin white {
  padding: 60px 0 60px 0;
  background: $white;
  @include mobile {
    padding: 20px;
  }
}

@mixin strip {
  border-top: 1px solid #EAEAEA;
  padding: 60px 0 60px 0;
  @include mobile {
    padding: 20px;
  }
}

// White Box
@mixin whitebox {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
}

// No Box
@mixin nobox {
  background: none;
  border: none;
  @include box-shadow-none();
}

@mixin pinline {
  border: 1px solid #EAEAEA;
}

@mixin nomargin {
  margin: 0 !important;
}

// Absolute Positioning
@mixin absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin absolute-left {
  margin: auto 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

@mixin absolute-right {
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

// We use this to do clear floats
@mixin clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}
