// ==========================================================================
// Card
// ==========================================================================
.cards {
  @include clearfix;
  .cards__header {
    @include clearfix;
  }
  .cards__title {
    font-size: rem-calc(16);
    text-transform: uppercase;
    margin: 0;
    margin-top: 14px;
    float: left;
  }
  .cards__count {
    color: #333;
  } 
  .cards__footer {
    @include clearfix;
    padding-top: 10px;
    padding-left: 10px;
    clear: both;
  }
}

//
// Card
// ==========================================================================
.card {
  padding-top: rem-calc(15);
  padding-bottom: rem-calc(15);
  &:focus {
    outline: 0;
  }
  .card__inner {
    background-color:white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.23);
  }
  .card__header {
    padding: rem-calc(10) rem-calc(12) 0;
    height: auto;
    overflow: hidden;
    h3 {
      font-size: rem-calc(22);
      font-weight: 200;
      line-height: rem-calc(24);
      color: #327084;
      max-height:rem-calc(48);
      height:rem-calc(48);
      overflow: hidden;
      margin: 0;
    }
    @media #{$medium-up} {
      height: rem-calc(60);
    } 
  }
  .card__date {
    padding: 0 rem-calc(12);
    height: rem-calc(25);
    overflow: hidden;
    h5 {
      font-size: rem-calc(13);
      margin: 0;
    }
  }
  .card__body {
    @include truncateAfterLines(1.5);
  }
  .card__image {
    height: rem-calc(180);
    overflow: hidden;
    img {
      min-width: 100%;
    }
    + .author {
      border-top: 0;
    }
  }
  .link {
    padding: rem-calc(8) rem-calc(12) 0;
    height: rem-calc(57);
    overflow: hidden;
    a {
      font-size: rem-calc(13);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    p {
      font-size: rem-calc(13);
      margin: 0;
      font-weight: 200;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .card__author {
    border-top: rem-calc(1) solid rgb(237,237,237);
    padding: rem-calc(8) rem-calc(12) 0;
    height: rem-calc(57);
    overflow: hidden;
    img {
      float: left;
      width: rem-calc(41);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
    }
    h5 {
      font-size: rem-calc(13);
      margin: 5px 0 0 0;
      line-height: rem-calc(18);
      margin-left: rem-calc(50);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left:3px;
    }
    p {
      font-size: rem-calc(13);
      margin: 0;
      line-height: 1.1;
      margin-left: rem-calc(50);
      font-weight: 200;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left:3px;
    }
  }
  .footer {
    background-color: rgb(237,237,237);
    padding: rem-calc(8) rem-calc(12) 0;
    height:rem-calc(30);
    &:after {
      content:'';
      display:block;
      clear: both;
    }
    p {
      font-weight: 200;
      font-size: rem-calc(13);
      line-height: 22px;
      width: 77%;
      float: left;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    span.likes_icon {
      margin: 0;
      display: inline;
      float: right;
      line-height: 1;
      font-size: rem-calc(13);
      &:before {
        height: 14px;
        width: 14px;
        margin-right: 4px;
      }
    }
  }
}
