// ==========================================================================
// Header
// ==========================================================================
.header {
  background-color: #FFF;
  min-height: 59px;
  width: 100%;
  border-bottom: 1px solid #CCC;
}
.header--fixed {
	z-index: 50;
	position: fixed;
  top: 0;
	box-shadow: 0 2px 9px rgba(0,0,0,0.20);
	@media #{$small-only} {
		position: relative;
		top: 0;
	}
}

body.header--fixed {
  margin-top: 50px;
}
