// ==========================================================================
// Header
// ==========================================================================
$header-height: 60px;

.header {
  background-color: #FFF;
  min-height: $header-height;
  width: 100%;
  border-bottom: 1px solid #CCC;
  @media #{$small-only} {
    padding-left: 70px;
  }
}
.header--fixed {
	z-index: 50;
	position: fixed;
  top: 0;
	box-shadow: 0 2px 9px rgba(0,0,0,0.20);
}

body.body__header--fixed {
  margin-top: $header-height;
}
