// ==========================================================================
// Docs
// ==========================================================================
.row.display {
  background: #eee;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.row.display .columns:nth-child(2), .row.display .columns.small-centered, .row.display .columns.large-centered {
  background: #e1e1e1;
}
.row.display .columns.color-end {
  background: #d4d4d4;
}
.row.display-end {
  background: #fff;
  font-size: 11px;
  margin-bottom: 10px;
  line-height: 2rem;
  border: solid 1px #c6c6c6;
  margin-left: 0 !important;
  margin-right: 0 !important; }
.row.display-end .columns {
  background: #e1e1e1;
  border-left: 1px solid #c6c6c6; }
.row.display-end .columns.color-end {
  background: #d4d4d4; }


.docs {

}

.docs__html, .docs__rendered {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0;
  font-weight: 800;
}
