@mixin truncateAfterLines($line-height: $base-line-height, $lines: 3, $font-size: $base-font-size) {
  display: block; /* Fallback for non-webkit */
  font-size: $font-size;
  line-height: $line-height;
  height: $font-size*$lines*$line-height;  /* Fallback for non-webkit */
  overflow: hidden;
  @supports (-webkit-line-clamp: $lines) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    height: auto;
  }
}

