$leading: $base-line-height * 1rem;
// Rate of growth for headings
$scale: 1.414;

/* Setup */
html {
	font-family: $base-font;
  font-size: $base-font-size / 16 * 100%;
  color: #333;
  // Make everything look a little nicer in webkit
  -webkit-font-smoothing: antialiased;
}


/* Copy & Lists */
p {
	font-family: $base-font;
	font-weight: 400;
	line-height: $leading;
  margin-top: $leading;
  margin-bottom: 0;
}


ul, ol {
	margin-top: $leading;
  margin-bottom: $leading;
  li {
    line-height: $leading;
  }
  ul, ol {
  	margin-top: 0;
    margin-bottom: 0;
  }
}


blockquote {
 line-height: $leading;
  margin-top: $leading;
  margin-bottom: $leading;

}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	 /* Change heading typefaces here */
  font-family: $custom-font;
  margin-top: $leading;
  margin-bottom: 0;
  line-height: $leading;
}


h1 {
  font-size: 3 * $scale * 1rem;
  line-height: 3 * $leading;
  margin-top: 2 * $leading;
}
h2 {
	font-size: 2 * $scale * 1rem;
  line-height: 2.5 * $leading;
  margin-top: 2 * $leading;
}

h3 {
  font-size: 1 * $scale * 1rem;
}
h4 {
  font-size: $scale / 2 * 1rem;
  font-weight: 900;
}
h5 {
  font-size: $scale / 3 * 1rem;

}
h6 {
  font-size: $scale / 4 * 1rem;
}

/* Tables */
table {
	margin-top: $leading;
  border-spacing: 0px;
  border-collapse: collapse;
  td, th {
  	 padding: 0;
    line-height: $base-line-height * $base-font-size - 0px;
  }
}

/* Leading paragraph text */
.lead {
  font-size: $scale * 1rem;
}

/* Hug a the block above you */
.hug {
  margin-top: 0;
}


// HR
hr, .hr { border: 0; border-bottom: 1px solid #CCC; display: block;}

/* Basscss Typography */

.font-family-inherit { font-family: inherit }
.font-size-inherit { font-size: inherit }
.text-decoration-none { text-decoration: none }

.bold    { font-weight: var(--bold-font-weight, bold) }
.regular { font-weight: normal }
.italic  { font-style: italic }
.caps    { text-transform: uppercase; letter-spacing: var(--caps-letter-spacing); }

.left-align   { text-align: left }
.center       { text-align: center }
.right-align  { text-align: right }
.justify      { text-align: justify }

.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }

.line-height-1 { line-height: var(--line-height-1) }
.line-height-2 { line-height: var(--line-height-2) }
.line-height-3 { line-height: var(--line-height-3) }
.line-height-4 { line-height: var(--line-height-4) }

.list-style-none { list-style: none }
.underline { text-decoration: underline }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

:root {
  --line-height-1: 1;
  --line-height-2: 1.125;
  --line-height-3: 1.25;
  --line-height-4: 1.5;
  --letter-spacing: 1;
  --caps-letter-spacing: .2em;
  --bold-font-weight: bold;
}
