<div class="bg-wrapper">
    <div class="hero">
        <div class="row">
            <div class="column small-12">
                <div class="punchline">
                    <h2>Explore the visual language</h2>
                    <a class="#">Explore</a>
                </div>
            </div>
        </div>
    </div>
    <div class="strip features">
        <div class="row">
            <div class="column small-12 medium-6 feature">
                <div class="line"></div>
                <h2>Beautiful</h2>
                <p>It’s easy to make something pretty. It takes craftsmanship to make something beautiful AND useful.
                    That’s Visual Design. Make our software easy to love, easy to forgive and a pleasure to use. Ease
                    the customer through the UI with motion and visual feedback.</p>
                <a href="#">Theory</a>
            </div>
            <div class="column small-12 medium-6 feature">
                <div class="line"></div>
                <h2>Flexible</h2>
                <p>The system needs to be a ﬂexible language, not a cookie-cutter. It needs to work across all apps,
                    with all input types, on all devices.</p>
            </div>
            <div class="column small-12 medium-6 feature">
                <div class="line"></div>
                <h2>Clear</h2>
                <p>Not based on trends and built to last. It is living and not static. It’s self explanatory. It’s
                    consistent. Each element needs to live harmoniously with each other.It’s accessible.</p>
            </div>
            <div class="column small-12 medium-6 feature">
                <div class="line"></div>
                <h2>Honest</h2>
                <p>Less, but better.Concentrate on the essential aspects. Put the customer’s content ﬁrst, make it
                    shine. The UI is just a a tool. No design for design’s-sake. Honest and useful.</p>
            </div>
        </div>
    </div>
</div>

<div class="strip human">
    <div class="caption"><strong>Humans have humanity</strong>, some more than others</div>
    <div class="strip-inner">
        <div class="row">
            <div class="column small-10 medium-7">

                <h4>Theory</h4>
                <br>
                <h3>Craftmanship is a life long pursuit</h3>
                <p><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet nisi velit. Integer eleifend condimentum ultrices. Nulla facilisi. Morbi varius dignissim felis at consequat. Vestibulum ante ipsum primis in faucibus orci.</span>
                </p>
                <p><span>luctus et ultrices posuere cubilia Curae; Quisque pharetra tortor in neque vestibulum, sed finibus orci.</span>
                </p>
                <a href="#" class="button">Artifakt Design Theory</a>
                <br><br>
            </div>
        </div>
    </div>
</div>
